{#
/**
 * @file
 * Default theme implementation for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{% for item in items %}
<div class="col-lg pricing-card m-0 pricing-card--{{ item.content.field_plan_title.0|render|lower }}">
  <article class="pricing-card--container js-hidden">

    <div class="pricing-card__head">
      <h4>{{ item.content.field_plan_title.0 }}</h4>
      <small class="m-0">{{ item.content.body.0 }}</small>
    </div>

    <div class="pricing-card__price">
      <div class="price-data">
        {{ item.content.field_prices.0 }}
      </div>
      <div class="price-wrapper">
        <span>
          <p class="{{ item.content.field_plan_title.0|render|lower }}-price-text price-text m-0">${{ item.content.field_prices.0['#item'].first }}</p> <small>/ month</small>
        </span>
        <p class="m-0 text--light text--small {{ item.content.field_plan_title.0|render|lower }}-price-description price-description">billed annually</p>
      </div>
    </div>

    <div class="border"></div>

    <ul class="pricing-card__body">
      <li><strong>{{ item.content.field_pages.0 }} pages<a href="#pages">*</a></strong></li>
      <li class="text--light">Unlimited screenshots and diffs</li>
      <li class="text--light">Screenshot modifications</li>
      <li class="text--light">Prod, Stage environments</li>
      {{ item.content.field_keys }}
    </ul>

    <div class="pricing-card__bottom">
      <a target="_blank" href="https://app.diffy.website/#register" class="{{ item.content.field_button_class.0|render|lower }} button button--select btn pt-2 diffy-register">Start Trial</a>
    </div>

  </article>
</div>
{% endfor %}



{#<div>
  {% for item in items %}
    <div>{{ item.content }}</div>
  {% endfor %}
</div>#}

{#{{ dd(items.0.content.field_prices) }}#}

