{{ form.status_messages }}

{% if form.name is not empty %}
  <img alt="Compare icon" src="{{ base_path }}{{ directory }}/images/compare2.svg" />
  <div class="compare-two-sites--form-wrapper step-0">
    <h2 class="try-block--title">Where to send the comparison result?</h2>
    <p>The comparison process has already begun. We will send it to your email.</p>
    <div class="float-left mr-3">{{ form.name }}</div>
    <div class="float-left mr-3">{{ form.email }}</div>
    <div class="float-left pt-1 form-submit">{{ form.submit }}</div>
  </div>
{% elseif form.production is not empty %}
  <img alt="Compare icon" src="{{ base_path }}{{ directory }}/images/compare.svg" />
  <div class="compare-two-sites--form-wrapper step-1">
    <h2 class="try-block--title">Compare two sites</h2>
    <p>See the difference between your production and staging environment. We will run the comparison and manually mark the changes for you.</p>
    <div class="float-left mr-3">{{ form.production }}</div>
    <div class="float-left mr-3">{{ form.staging }}</div>
    <div class="float-left form-submit">{{ form.submit }}</div>
  </div>
{% else %}
  <img alt="Compare icon" src="{{ base_path }}{{ directory }}/images/compare3.svg" />
  <div class="compare-two-sites--form-wrapper step-2">
    <h2 class="try-block--title">Thank you for submitting the form!</h2>
    <p>We will reach out to you by email with the results soon.</p>
  </div>
{% endif %}

{{ form|without('name', 'email', 'production', 'staging', 'submit', 'status_messages', 'thank_you') }}
