{{ attach_library('marketing/calculator') }}

<section class="container-fluid p-0 top-hero">
  <div class="hero-wrap">
    <div class="row justify-content-end align-items-center">
      <div class="right-image p-0 screenshot-block__background col-12 col-xl-7">
        <div class="screenshot-block__image ml-lg-auto">
          <div class="bg-image">
            <img alt="Hero background"
              src="{{ base_path }}{{ directory }}/images/top-hero-bg.png"
              alt="bg-image" />
          </div>
          <img class="float-right top-image"
            alt="Hero image"
            src="{{ base_path }}{{ directory }}/images/top-hero-image2.png"
            alt="hero-img" />
        </div>
      </div>

      <div class="left-info col-12 col-xl-5 screenshot-block__text p-0">
        <div class="text--wrap">
          <h1>
            Visual Regression Testing For Drupal And WordPress (5 dec)
          </h1>
          <h3>
            Save your developers hours of tedious manual testing with our platform
          </h3>
          <div class="action-link-wrap">
            <div class="try-link">
              <a href="https://app.diffy.website/#/register" class="diffy-register">Try For Free</a>
              <p>
                no credit card required
              </p>
            </div>
            <div class="book-demo">
              <a href="https://calendly.com/diffy/demo" target="_blank" class="diffy-demo">Book a Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-4 customers-block container-fluid max-width-1280">
  <div class="row">
    <div class="customer-block--title d-flex align-items-center">
      <h2>
        Our Customers
      </h2>
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="palantir.net"
           src="{{ base_path }}{{ directory }}/images/logos-palantir.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="MD Systems logo"
           src="{{ base_path }}{{ directory }}/images/logos-mdsystems.svg"
           alt="md systems"
           style="width: 115px;" />
    </div>

    <div class="customers-logo  col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="Phase2 Technology"
           src="{{ base_path }}{{ directory }}/images/logos-phase2.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto pr-4 pr-md-0"
           alt="ForumOne"
           src="{{ base_path }}{{ directory }}/images/logos-forumone.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="FFW"
           src="{{ base_path }}{{ directory }}/images/logos-ffw.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="european commission"
           src="{{ base_path }}{{ directory }}/images/logos-europeancommission.svg"
      />
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 xl-max-width-1600 use-case--block compare-two-sites--block">
  <div class="row block-try-diffy d-flex align-items-center">
    {{ drupal_block('diffy_compare_two') }}
  </div>
</section>

<section class="home__text_block container-fluid p-0 mt-5 max-width-1280 xl-max-width-1600">
  <div class="row">
    <div class="col-md-4">
      <div class="text-align-center pl-5 pr-5">
        <img alt="Updates or client break the site"
             src="{{ base_path }}{{ directory }}/images/pain-point-purple.svg" />

        <h3>Don't let updates or customer coding break your website</h3>

        <p>We offer comprehensive monitoring to ensure that your website is always running smoothly.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-align-center pl-5 pr-5">
        <img alt="Updates or client break the site"
             src="{{ base_path }}{{ directory }}/images/pain-point-blue.svg"
             />

        <h3>Tired of manually checking every page of your website for issues?</h3>

        <p>Let Diffy check your site and provide a great way to review the changes.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-align-center pl-5 pr-5">
        <img alt="Updates or client break the site"
             src="{{ base_path }}{{ directory }}/images/pain-point-green.svg"
             />

        <h3>We offer onboarding support</h3>

        <p>Just let us know what site you would like to start testing and we are happy to help you.</p>

        <div class="book-demo-small mt-4">
          <a href="https://calendly.com/diffy/demo" target="_blank">
            Book a Call
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid p-0 mt-5 max-width-1280 xl-max-width-1600 screenshot-block">
  <div class="row align-items-center mr-auto">
    <div class="screenshot-block__background">
      <div class="screenshot-block__image">
        <img alt="Shedule monitoring"
             src="{{ base_path }}{{ directory }}/images/home_screenshot_3.jpg"
             />
      </div>
    </div>
    <div class="screenshot-block__text">
      <h3>
        Automate Your Testing –
        <br />Save Your Time
      </h3>
      <p>
        Set up <span>automatic monitoring on a schedule</span> to never miss changes introduced by your developers or clients.
      </p>
    </div>
  </div>
</section>

<section class="container-fluid p-0 mt-5 max-width-1280 xl-max-width-1600 screenshot-block">
  <div class="row align-items-center justify-content-end ml-0">
    <div class="screenshot-block__text position-left">
      <h3>
        Adjust Page Content to avoid False Positives
      </h3>
      <p>
        Take care of <span>ads, carousels, video embeds, popups</span> so they never trigger false positives in your comparisons.
      </p>
    </div>
    <div class="screenshot-block__background image-right">
      <div class="screenshot-block__image">
        <img alt="Stackoverflow screenshot original"
          src="{{ base_path }}{{ directory }}/images/home_screenshot_2.jpg"
          alt="screenshot" />
      </div>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 xl-max-width-1600 screenshot-block">
  <div class="row align-items-center mr-auto">
    <div class="screenshot-block__background p-0">
      <div class="screenshot-block__image ml-lg-auto">
        <img alt="Custom diff algorithm"
             src="{{ base_path }}{{ directory }}/images/home_screenshot_1.jpg"
             alt="screenshot" />
      </div>
    </div>

    <div class="screenshot-block__text">
      <h3>
        Better results with our Comparison Algorithm
      </h3>
      <p>
        If you’ve done visual regression testing before, you know that the tiniest
        vertical shifts due to browser rendering can lead to highlighting way bigger area than actually changed.
      </p>
      <p>
        Our algorithm detects these shifts and provides
        <span>
          much better results than pixel perfect comparison algorithms.
        </span>
      </p>
    </div>
  </div>
</section>

<section class="container-fluid p-0 max-width-1280 xl-max-width-1600 screenshot-block">
  <div class="row align-items-center justify-content-end ml-0">
    <div class="screenshot-block__text position-left">
      <h3>
        Create tickets for developers right from the tool
      </h3>
      <p>
        You can create ticket in your bug-tracking system (i.e. Jira, Asana, Trello, Basecamp etc.) right from Diffy with our Zapier integration
      </p>
    </div>
    <div class="screenshot-block__background image-right">
      <div class="screenshot-block__image">
        <img alt="Zapier integration"
             src="{{ base_path }}{{ directory }}/images/zapier-integration.png"
             alt="screenshot" />
      </div>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 block-integrations mt-4">
  <div class="row px-3">
    <div class="block-title--wrap">
      <h2 class="block-title">
        Diffy has everything you need for visual regression testing testing
      </h2>
      <div class="block-subtitle">
        Automate even further with our integrations <br/>to trigger testing in your CI/CD pipelines.
      </div>
    </div>
    <div class="col-md-12 text-center row">
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/automation-acquia-cloud-hooks">
          <img alt="Acquia logo"
            src="{{ base_path }}{{ directory }}/images/acquia_colored.png"
            alt="button" />
          <span class="integration--title">Acquia</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/pantheon-build-tools">
          <img alt="Pantheon logo"
            src="{{ base_path }}{{ directory }}/images/pantheon_colored.png"
            alt="button" />
          <span class="integration--title">Pantheon</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="https://platform.sh/blog/2019/umami-distribution-testing-automation-diffy-platformsh/">
          <img alt="Platform.sh logo"
            src="{{ base_path }}{{
            directory
            }}/images/platformsh_colored.png" />
          <span class="integration--title">Platform.sh</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/gitlab-integration">
          <img alt="Gitlab logo"
            src="{{ base_path }}{{ directory }}/images/gitlab_colored.png" />
          <span class="integration--title">GitLab</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/github-integration">
          <img alt="Github logo"
            src="{{ base_path }}{{ directory }}/images/github_colored.png" />
          <span class="integration--title">GitHub</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/circleci">
          <img alt="CircleCI logo"
            src="{{ base_path }}{{ directory }}/images/circeci_colored.png" />
          <span class="integration--title">Circleci</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/bitbucket-integration">
          <img alt="Bitbucket logo"
            src="{{ base_path }}{{ directory }}/images/bitbucket_colored.png" />
          <span class="integration--title">Bitbucket</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/browserstack-integration">
          <img alt="Browserstack logo"
            src="{{ base_path }}{{
            directory
            }}/images/browserstack-colored.png" />
          <span class="integration--title">Browserstack</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="https://docs.tugboat.qa/starter-configs/code-snippets/diffy-integration/">
          <img alt="Tugboat logo"
            src="{{ base_path }}{{ directory }}/images/bugboat_colored.png" />
          <span class="integration--title">Bugboat</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/wordpress-plugin">
          <img alt="Wordpress logo"
            src="{{ base_path }}{{ directory }}/images/wordpress_colored.png" />
          <span class="integration--title">Wordpress</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/behat">
          <img alt="Behat logo"
            src="{{ base_path }}{{ directory }}/images/behat_colored.png" />
          <span class="integration--title">Behat</span>
        </a>
      </div>
      <div class="col-md-2 col-6 mt-3 logo-wrap">
        <a href="/documentation/lambdatest">
          <img alt="LabdaTest logo"
            src="{{ base_path }}{{
            directory
            }}/images/lambdatest_colored.png" />
          <span class="integration--title">Lambdatest</span>
        </a>
      </div>
    </div>
  </div>
  <div class="integration-action--links">
    <a href="/features">See all features</a>
    <a href="/documentation/using-apis">See all integrations</a>
  </div>
</section>

<section class="container-fluid max-width-1280 xl-max-width-1600 p-0">
  <div class="row use-case--block">
    <h2 class="block--title">
      Use Cases
    </h2>
    <div class="cases--wraps d-flex align-items-stretch">
      <div class="case--wrap d-flex align-items-start justify-content-between">
        <div class="case--info">
          <h2 class="case--name">
            Visual Regression Testing for
            <span>Drupal</span>
          </h2>
          <div class="case-description">
            <p>
              Make sure you are not producing regression bugs elsewhere on the site -- CSS bleed over.
            </p>
          </div>
          <div class="case-action--link">
            <a href="/drupal">More information</a>
          </div>
        </div>
        <img alt="Drupal logo"
          src="{{ base_path }}{{ directory }}/images/drupal_logo_90_90.svg" />
      </div>

      <div class="case--wrap d-flex align-items-start justify-content-between">
        <div class="case--info">
          <h2 class="case--name">
            Visual Regression Testing for
            <span>WordPress</span>
          </h2>
          <div class="case-description">
            <p>
              Ensure your updates never break your website accidentally.
            </p>
          </div>
          <div class="case-action--link">
            <a href="/wordpress">More information</a>
          </div>
        </div>
        <img alt="Wordpress logo"
          src="{{ base_path }}{{
          directory
          }}/images/wordpress-logo_90_90.svg" />
      </div>
    </div>

    <div class="block-try-diffy d-flex align-items-center">
      <img alt="Calculator icon"
        src="{{ base_path }}{{ directory }}/images/calculator.svg" />
      <h2 class="try-block--title">
        See how we take screenshots
      </h2>
      {{ drupal_block('diffy_try') }}
    </div>
  </div>
</section>

<section class="glance container mt-lg-5 pt-lg-5 pb-lg-5">
  <div class="achievements__block row align-items-center px-5">
    <div class="item col">
      <div class="title text-center">2 million</div>
      <div class="subtitle text-center">screenshots taken</div>
      <div class="subtitle text-center"><a href="/about-us">about us</a></div>
    </div>
    <div class="item col dot text-align-center">&#183;</div>
    <div class="item col">
      <div class="title text-center">
        1000+
      </div>
      <div class="subtitle text-center">
        websites tested
      </div>
    </div>
    <div class="item col dot text-align-center">&#183;</div>
    <div class="item col">
      <div class="title text-center">5 years</div>
      <div class="subtitle text-center">on the market</div>
    </div>
  </div>
</section>

<section id="testimonials-carousel" class="review__block mb-5 pb-md-5 row carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimonials-carousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-md-flex">
        <div class="col-md-3">
          <span class="quote-bg blue"><img src="{{ base_path ~ directory }}/images/jeffrey-bertoen.png" alt="Jeffrey Bertoen" /></span>
          <p class="text-align-center small-text"><strong>Jeffrey Bertoen</strong></p>
          <p class="text-align-center small-text">Solution Architect Synetic</p>
        </div>
        <div class="col-md-9 pt-3 pt-md-5 d-md-flex quote">
          <i class="fas fa-quote-right"></i>
          <p>
            Diffy is a great and flexible tool that integrates easily with your Devops flows. Now we are way more confident with our releases.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-md-flex">
        <div class="col-md-3">
          <span class="quote-bg"><img src="{{ base_path ~ directory }}/images/daniele-besana.png" alt="Daniele Besana" /></span>
          <p class="text-align-center small-text"><strong>Daniele Besana</strong></p>
          <p class="text-align-center small-text">Founder of WP-OK</p>
        </div>
        <div class="col-md-9 pt-3 pt-md-5 d-md-flex quote">
          <i class="fas fa-quote-right"></i>
          <p>
            At WP-OK we manage hundreds of WordPress websites, and detecting an issue before our customers do it's a tremendous added value.
            Before signing up I was afraid of having to deal with a lot of false positives.
            But the comparison works really well and Diffy helps us to deliver our promises.
            It's like having extra staff in our team!
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
    <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
    <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
    <span class="sr-only">Next</span>
  </a>
</section>

<section class="bottom-banner__block_v2 row">
  <div class="inner col-12">
    <h2 class="text-align-center">Diffy help your QA team</h2>
    <h3 class="text-align-center">to ensure that websites don't get visual bugs</h3>
    <div class="try-for-free__block">
      <div class="action-link-wrap justify-content-center">
        <div class="try-link">
          <a href="https://app.diffy.website/#/register" class="diffy-register">Try For Free</a>
          <p>no credit card required</p>
        </div>
        <div class="book-demo">
          <a href="https://calendly.com/diffy/demo" target="_blank">
            Book a Demo
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
