<section class="main-banner mt-lg-5 pt-lg-5">
  <div class="row px-lg-3">
    <div class="col-12 col-md-12 features-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <h1 class="text-center">Cheaper and Simpler alternative to Percy</h1>
        <h3 class="text-center">Tired of struggling with Percy's SDK? Set up without any code and get results in 10 minutes.</h3>

        <div class="action-link-wrap text-center mt-5 mb-5">
          <div class="try-link">
            <a href="https://app.diffy.website/#/register" class="diffy-register">Try For Free</a>
            <p>
              no credit card required
            </p>
          </div>
          <div class="book-demo">
            <a href="https://calendly.com/diffy/demo" target="_blank" class="diffy-demo">Book a Demo</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 xl-max-width-1600 screenshot-block">
  <div class="row align-items-center mr-auto">
    <div class="screenshot-block__background p-0">
      <div class="screenshot-block__image sm ml-lg-auto pl-5 pr-5 pt-5 pb-5">
        <img alt="Custom diff algorithm"
             src="{{ base_path }}{{ directory }}/images/circleci-percy-no-more-code.png"
             alt="screenshot" />
      </div>
    </div>

    <div class="screenshot-block__text">
      <h3>
        No Coding Required
      </h3>
      <p>
        Tired of setting up Percy? At a minimum you need to set up all dependencies, set up configuration file and run terminal commands. With Diffy just provide URLs of your site and you are good to go.
      </p>
    </div>
  </div>
</section>

<section class="container-fluid p-0 max-width-1280 xl-max-width-1600 screenshot-block mb-5">
  <div class="row align-items-center justify-content-end ml-0 pt-5 pb-5 pl-5 pr-5">
    <div class="screenshot-block__text position-left">
      <h3>
        Fraction of the price
      </h3>
      <p>
        Percy plans start at $449 a month while you can get started with Diffy at $59.
      </p>
    </div>
    <div class="screenshot-block__background image-right">
      <div class="screenshot-block__image sm">
        <img alt="Stackoverflow screenshot original"
             src="{{ base_path }}{{ directory }}/images/percy-pricing.png"
             alt="screenshot" />
      </div>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 xl-max-width-1600 blue-block text-center mt-5 pt-5">
  <div class="row align-items-center mr-auto">
    <div class="screenshot-block__text pb-5 pl-5 pr-5">
      <h3>
        Unlimited screenshots
      </h3>
      <p>
        Diffy does not charge you for the screenshots but rather for number of pages you cover with testing. So you estimate once and do not worry every month how much you use the service.
      </p>
    </div>
  </div>
</section>

<section class="mt-5 mb-5 customers-block container-fluid max-width-1280">
  <div class="row">
    <div class="customer-block--title d-flex align-items-center">
      <h2>
        Our Customers
      </h2>
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="palantir.net"
           src="{{ base_path }}{{ directory }}/images/logos-palantir.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="MD Systems logo"
           src="{{ base_path }}{{ directory }}/images/logos-mdsystems.svg"
           alt="md systems"
           style="width: 115px;" />
    </div>

    <div class="customers-logo  col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="Phase2 Technology"
           src="{{ base_path }}{{ directory }}/images/logos-phase2.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto pr-4 pr-md-0"
           alt="ForumOne"
           src="{{ base_path }}{{ directory }}/images/logos-forumone.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="FFW"
           src="{{ base_path }}{{ directory }}/images/logos-ffw.svg"
      />
    </div>

    <div class="customers-logo col-6 col-sm-6 col-md-3">
      <img class="m-auto"
           alt="european commission"
           src="{{ base_path }}{{ directory }}/images/logos-europeancommission.svg"
      />
    </div>
  </div>
</section>

<section class="container-fluid p-0 mt-5 mb-5 max-width-1280 xl-max-width-1600 screenshot-block">
  <div class="row align-items-center justify-content-end ml-0">
    <div class="screenshot-block__text position-left">
      <h3>
        Advanced features
      </h3>
      <p>
        While there is certainly some overlap in features set still following features are unique for Diffy:
        <ul>
        <li>Take screenshots as Logged in user</li>
        <li>Recognize vertical shifts when comparing images</li>
        <li>Content Fixtures</li>
        <li>Custom javascript, cookies, HTTP headers</li>
        </ul>
      </p>
    </div>
    <div class="screenshot-block__background image-right">
      <div class="screenshot-block__image">
        <img alt="Stackoverflow screenshot original"
             src="{{ base_path }}{{ directory }}/images/home_screenshot_2.jpg"
             alt="screenshot" />
      </div>
    </div>
  </div>
</section>


<section class="container-fluid max-width-1280 xl-max-width-1600 screenshot-block mt-5 mb-5">
  <div class="row align-items-center mr-auto pt-5">
    <div class="screenshot-block__background p-0">
      <div class="screenshot-block__image ml-lg-auto">
        <img alt="Custom diff algorithm"
             src="{{ base_path }}{{ directory }}/images/diffy-convenient-ui.png"
             alt="screenshot" />
      </div>
    </div>

    <div class="screenshot-block__text">
      <h3>
        UI optimized for fast review
      </h3>
      <p>
        Diffy’s UI is optimized for reviewing hundreds of screenshots. Features like thumbnails review, marking changes across different pages help a lot to streamline the review process. So your dev team saves a lot of time.
      </p>
    </div>
  </div>
</section>


<section class="container-fluid p-0 mt-5 pt-5 max-width-1280 xl-max-width-1600 screenshot-block">
  <div class="row align-items-center justify-content-end ml-0 pt-5">
    <div class="screenshot-block__text position-left">
      <h3>
        Drupal and WordPress experts
      </h3>
      <p>
        And we know a lot about Drupal and WordPress hosting environments and development workflows. So we will make sure you get the most reliable testing set up.
      </p>
    </div>
    <div class="screenshot-block__background image-right">
      <div class="screenshot-block__image">
        <img alt="Stackoverflow screenshot original"
             src="{{ base_path }}{{ directory }}/images/diffy-wordpress-drupal.png"
             alt="screenshot" />
      </div>
    </div>
  </div>
</section>



<section class="achievements-block container-fluid max-width-1280 d-flex justify-content-center">
  <div class="achievements-wrap">
    <div class="achievements-title">
      1 million
    </div>
    <div class="achievements-text">
      screenshots monthly
    </div>
  </div>

  <div class="achievements-wrap">
    <div class="achievements-title">
      1000+
    </div>
    <div class="achievements-text">
      websites tested
    </div>
  </div>

  <div class="achievements-wrap d-flex">
    <div class="achievements-title">
      5 years
    </div>
    <div class="achievements-text">
      on the market
    </div>
    <div class="achievements-link">
      about us
    </div>
  </div>
</section>

<section class="bottom-banner__block_v2 row">
  <div class="inner col-12">
    <h2 class="text-align-center">Diffy help your QA team</h2>
    <h3 class="text-align-center">to ensure that websites don't get visual bugs</h3>
    <div class="try-for-free__block">
      <div class="action-link-wrap justify-content-center">
        <div class="try-link">
          <a href="https://app.diffy.website/#/register" class="diffy-register">Try For Free</a>
          <p>no credit card required</p>
        </div>
        <div class="book-demo">
          <a href="https://calendly.com/diffy/demo" target="_blank">
            Book a Demo
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
