{{ attach_library('marketing/calculator') }}

<section class="container-fluid max-width-1280 main-banner mt-5">
  <div class="row px-3">

    <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <h1 class="text-center">Least noisy visual regression testing</h1>
        <h3 class="text-center">Saves developers hours of checking their work</h3>
        <div class="mt-4 mb-4 pt-4">
          <div class="d-flex justify-content-center">
            <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
          </div>
          <p class="d-flex justify-content-center text--small text-center mt-2">14 days free trial period,<br/>no credit card required</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 block-integrations mt-4">
  <div class="row px-3">
    <div class="col-12 d-flex justify-content-center mt-5">
      <h2>Integrations</h2>
    </div>
    <div class="col-md-12 text-center">
      <img class="ml-0" width="90" src="{{ base_path ~ directory }}/images/logo_acquia.png" alt="button">
      <img class="ml-5" width="154" src="{{ base_path ~ directory }}/images/pantheon-logo.png" alt="button">
      <img class="ml-5" width="154" src="{{ base_path ~ directory }}/images/platformsh.png">
      <img class="ml-5" width="130" src="{{ base_path ~ directory }}/images/circleci-logo.png">
    </div>
    <div class="col-md-12 text-center">
      <img class="ml-0" width="120" src="{{ base_path ~ directory }}/images/github-logo.jpg">
      <img class="ml-5" width="120" src="{{ base_path ~ directory }}/images/gitlab-logo.png">
      <img class="ml-5" width="150" src="{{ base_path ~ directory }}/images/bitbucket-logo.png">
      <img class="ml-5" width="150" src="{{ base_path ~ directory }}/images/browserstack-logo.png">

    </div>
  </div>
</section>

<section class="mt-4 slider-block">
  <div class="container carousel">
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center mt-2">
        <h2>Our Customers</h2>
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/los_angeles_logo@2x.png" alt="los_angeles">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/md_systems_logo.svg" alt="md systems" style="width: 115px;">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/connely_logo@2x.png" alt="connely">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto pr-4 pr-md-0" src="{{ base_path ~ directory }}/images/352_logo@2x.png" alt="352">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/five_logo@2x.png" alt="five">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/door3_logo@2x.png" alt="door3">
      </div>
    </div>
  </div>

</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-5">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/diffy-custom-algorithm-small.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-2">Custom image compare algorithm detects vertical shifts</h3>
        <p>Avoids changes related to browser image rendering. Much better results than pixel perfect comparison.</p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-12 screenshot-block__text d-flex justify-content-center">
      <div class="text-center col-lg-9 my-auto">
        <h3 class="headline-above-link pb-2 pr-lg-5 m-0">Tools to edit screenshots</h3>
        <p>Rich toolset to adjust content of the page before taking screenshot.</p>
      </div>
    </div>

    <div class="col-md-6 screenshot-block__background">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/stackoverflow-original.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-6 screenshot-block__background">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/stackoverflow-edited.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>


<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-12 screenshot-block__text d-flex justify-content-center">
      <div class="text-center col-lg-9 my-auto">
        <h3 class="headline-above-link mt-5 mb-3 pb-2 pr-lg-5 m-0">Features</h3>

        <table class="table text-left">
          <tr>
            <th class="pl-5">Screenshot</th>
            <th class="pl-5">Admin</th>
            <th class="pl-5">Integrations</th>
          </tr>
          <tr>
            <td>
              <ul>
                <li>Custom algorithm to compare images</li>
                <li>Pixel perfect compare images</li>
                <li>Mask, remove elements from screenshot</li>
                <li>Content fixtures</li>
                <li>Custom CSS, JS</li>
                <li>Delay, scroll</li>
                <li>Logged in user screenshots</li>
                <li>Bypass basic authentication</li>
                <li>Custom breakpoints</li>
                <li>HTTP headers</li>
                <li>Cookies</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>Prod, Dev, Stage environments</li>
                <li>Slack notifications</li>
                <li>Team management</li>
                <li>Monitoring</li>
                <li>Scan sitemap for URLs</li>
                <li>Thumbnails preview</li>
                <li>Shareable URLs to reports</li>
                <li>Control number of workers</li>
                <li>Same IP address for workers for whitelisting</li>
                <li>Upload screenshots</li>
                <li>Local worker</li>
                <li>Any number of custom environments</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>CLI tool for integrations</li>
                <li>Patternlab</li>
                <li>Github</li>
                <li>Gitlab</li>
                <li>Bitbucket</li>
                <li>Acquia</li>
                <li>Pantheon</li>
                <li>CircleCI</li>
                <li>Platform.sh</li>
                <li>BrowserStack</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 main-banner mt-5">
  <div class="row px-3">
    <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <div class="mt-3 mb-5">
          <div class="d-flex justify-content-center">
            <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
          </div>
          <p class="d-flex justify-content-center text--small text-center mt-2">14 days free trial period,<br/>no credit card required</p>
        </div>
      </div>
    </div>
  </div>
</section>

