<section class="container-fluid max-width-1280 screenshot-block--top mt-5 features-block--padding-top">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img class="test-img" src="{{ base_path ~ directory }}/images/image-3.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Pixel perfect + custom algorithm to compare images</h3>
        <p>
          We use both pixel perfect comparison <em>(imagemagick)</em> and also built a custom solution
          that can understand vertical shifts.
          {#<a class="screenshot-block__link" href="#">Read more</a> to see the difference.#}
        </p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-5 screenshot-block__text d-flex justify-content-end">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Three environments: production, staging and development. Bypass basic authentication.</h3>
        <p>
          So it is easy to run comparison after you do deployments.
          Also it is possible to have custom environments for your CI builds.
        </p>
      </div>
    </div>

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-4.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-5">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img class="test-img" src="{{ base_path ~ directory }}/images/image-5.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Paste list of URL’s or scan pages for internal links.</h3>
        <p>
          To start the project you can simply scan several of your webpages for internal
          links to build the list of pages you would like to be covered with visual testing.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-5 screenshot-block__text d-flex justify-content-end">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Multiple breakpoints to cover mobile, tablet, desktop.</h3>
        <p>
          You can select any of available breakpoints so your
          screenshots are taken with different screen widths.
        </p>
      </div>
    </div>

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-6.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-5">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/image-7.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Take screenshots as authenticated user</h3>
        <p>
          Drupal, Wordpress, Auth0 or custom authentication Test your dashboards,
          profile pages and other parts of your site that require authentication.
          Provide credentials and in case of custom authentication — CSS selectors of the form elements.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-5 screenshot-block__text d-flex justify-content-end">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Team management.</h3>
        <p>
          Add users to your project so they can trigger jobs, review results.
          So you can have your team having different accounts and access different projects.
        </p>
      </div>
    </div>

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-8.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-5">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/image-9.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Custom delay.</h3>
        <p>
          Scroll the page before taking a screenshot.
          A must for web pages with lazy loading images and other elements.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-5 screenshot-block__text d-flex justify-content-end">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Specific User-Agent so your Google Analytics won’t be affected.</h3>
        <p>
          Every time you run screenshots it generates a traffic to your site.
          You can exclude it from your Google Analytics so it won’t affect real user’s data.
        </p>
      </div>
    </div>

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-10.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-5">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img class="test-img" src="{{ base_path ~ directory }}/images/image-11.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Single IP address for whitelisting of custom proxy server.</h3>
        <p>
          If your stage / dev sites are behind the firewall all our workers
          can come from the same IP address so you can whitelist it.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-5 screenshot-block__text d-flex justify-content-end">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Isolating / Masking / Removing elements from the DOM before taking screenshot.</h3>
        <p>
          So you can remove ads and popups or mask sliders on the page.
          Otherwise there is high chance they will create false positives for you.
        </p>
      </div>
    </div>

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-12.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-5">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/image-13.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Notifications, SLACK messages</h3>
        <p>
          You can send a slack message to your slack channel or send test results to your CI server.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-5 screenshot-block__text d-flex justify-content-end">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-4">Monitoring</h3>
        <p>
          Set up weekly checks of your production environment.
          It will trigger set of screenshots and compare them with a previous run.
        </p>
      </div>
    </div>

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-6.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<div class="text-center mt-5 d-flex justify-content-center">
  <a href="https://app.diffy.website" class="button button--try-for-free">Try for free</a>
  <p class="mt-3 text--light text--small ml-2">14 days trial period</p>
</div>
