<section class="container-fluid max-width-1280 main-banner main_banner__drupal mt-5 pt-3">
  <div class="row px-md-5 mx-md-5">
    <div class="col-12 col-md-6">
      <h1>Automated Visual Testing for Drupal</h1>
      <h3>Never miss a visual bug again - run <br/>Drupal tests through our cloud visual testing platform. QA has never been faster (or cost-effective!).</h3>
      <div class="try-for-free__block mt-5">
        <div class="action-link-wrap">
          <div class="try-link">
            <a href="https://app.diffy.website/#/register">Try For Free</a>
            <p>no credit card required</p>
          </div>
          <div class="demo-video">
            <button type="button" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/cbU1VqFnGaI" data-target="#myModal">
              <span class="play-img"></span>View demo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid max-width-1280 trusted-agencies__block mt-3 mb-3 pb-4 mt-md-5 mb-md-5 pt-md-4 pb-md-5">
  <div class="row px-md-5 mx-md-5">
    <div class="col-12 d-flex justify-content-center justify-content-md-between align-items-md-center">
      <h2>Trusted by world class Drupal agencies</h2>
      <img src="{{ base_path ~ directory }}/images/md-sys-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/conelly-partners-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/0352-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/five-paths-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/door3-logo.svg" alt="" />
    </div>
  </div>
</section>
<section class="container-fluid max-width-1280 twitter__block mt-5">
  <div class="row px-md-5 mx-md-5">
    <div class="col-12 col-md-6">
      <div class="d-flex justify-content-center">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">TIL (via <a href="https://twitter.com/shaal?ref_src=twsrc%5Etfw">@shaal</a>) about Diffy: <a href="https://t.co/XZHKSnN6uJ">https://t.co/XZHKSnN6uJ</a> — a visual regression tool by <a href="https://twitter.com/ygerasimov?ref_src=twsrc%5Etfw">@ygerasimov</a> that can pinpoint the “root cause” of visual regressions with output like this! WOAH. 🤯 <a href="https://t.co/Iot73i7yZJ">pic.twitter.com/Iot73i7yZJ</a></p>&mdash; webchick-or-treat 🕸🕷🧟‍♀️🧛‍♀️ (@webchick) <a href="https://twitter.com/webchick/status/1187802342017523712?ref_src=twsrc%5Etfw">October 25, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="col-12 col-md-6 pl-md-5">
      <h2>Used by the Drupal 8 core team</h2>
      <h3>We help to test Umami distribution visually</h3>
    </div>
  </div>
</section>

<section class="block-features px-3 row">

    <div class="col-12 d-flex justify-content-center mb-4 mt-5">
      <h2>Main Features</h2>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Custom Image Compare Algorithm</h3>
        <p class="mb-3">
          Get less false positive noise as our algorithm understands vertical shifts.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Performance</h3>
        <p class="mb-3">
          Use highly scalable infrastructure of workers so you get results faster. Take thousands of screenshots in 30+ concurrent browser sessions.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Predefined and Custom Environments</h3>
        <p class="mb-3">
          Compare your Live with Staging or Staging with Development. We support custom environments for your pull request builds.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Easy to integrate</h3>
        <p class="mb-3">
          We have a <a href="https://github.com/DiffyWebsite/diffy-cli" target="_blank">CLI tool</a> to interact with our APIs so you can builds integrations fast.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Mask / Exclude elements</h3>
        <p class="mb-3">
          Avoid false positives by removing / masking DOM elements on the page prior to taking the screenshot. Great for hiding ads, slides, popups.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Delay, scroll, javascript</h3>
        <p class="mb-3">
          Get the needed state of the page by executing custom javascript, setting a delay or scrolling.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">As logged in user</h3>
        <p class="mb-3">
          Take screenshots as logged in user to test your backend. Supports Drupal, Wordpress and any custom form to login.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Teams, notifications</h3>
        <p class="mb-3">
          Set up your team to share projects. Email, Slack, Github notifications available.
        </p>
      </article>
    </div>

</section>

<section class="visual-testing__block mt-5 mb-5 pt-md-5 pb-md-4 row">
  <div class="col-12 d-md-flex">
    <h2>Drupal Visual Testing Through Updates</h2>
    <div class="inner">
      <p>Every month, Drupal releases security & maintenance fixes that can affect your current plug-ins and themes - creating tons of visual bugs.</p>
      <p>What’s more, some of these bugs are hard to spot. Sometimes they appear only on certain browsers, or even certain screens.</p>
      <p>That’s where Diffy comes in.</p>
      <p>Through automated visual testing - and more specifically, visual regression testing - you can catch an unlimited array of bugs that will otherwise impact your user experience.</p>
      <p>You spent hours doing Drupal module development - don’t spend more doing QA as well. Let us handle it.</p>
    </div>
  </div>
</section>

<section class="block-features row px-3">
    <div class="col-12 d-flex justify-content-center mb-3 mt-5">
      <h2>Integrations</h2>
    </div>

    <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card-rounded p-4">
        <button class="button-integrations" type="button">
          <img alt="Pantheon logo" src="{{ base_path ~ directory }}/images/pantheon-vector-logo2.svg" />
        </button>
        <div class="inner">
          <h3 class="mb-4">Pantheon - Quicksilver</h3>
          <p class="mb-3">Monitor your website for updates and if any found — create an updated site and compare it
            visually with production.
            So you can run your updates safely.</p>
          <p>
            <a class="read-more" target="_blank" href="https://github.com/DiffyWebsite/quicksilver-examples/tree/master/diffy_visualregression">Read more »</a>
          </p>
        </div>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card-rounded p-4">
        <button class="button-integrations" type="button">
          <img alt="Acquia logo" src="{{ base_path ~ directory }}/images/acquia-vector-logo.svg" />
        </button>
        <div class="inner">
          <h3 class="mb-3">Acquia</h3>
          <p class="mb-3">Trigger Diffy comparison job with Acquia webhooks after deployment.
            So you know exactly what changes are coming with the next release.
          </p>
          <p>
            <a class="read-more" target="_blank" href="https://github.com/DiffyWebsite/diffy-acquia">Read more »</a>
          </p>
        </div>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0 mt-4">
      <article class="shadow-card-rounded p-4">
        <button class="button-integrations" type="button">
          <img alt="Platform.sh logo" src="{{ base_path ~ directory }}/images/platform-vector-logo.svg" />
        </button>
        <div class="inner">
          <h3 class="mb-3">Platform.sh</h3>
          <p class="mb-3">We test Drupal core Umami distribution with Diffy and Platform.sh.
            Allows visual testing of patches for both anonymous and admin users.
          </p>
          <p>
            <a class="read-more" target="_blank" href="https://medium.com/diffy/umami-distribution-testing-automation-with-platform-sh-and-diffy-91272af485b">Read more »</a>
          </p>
        </div>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card-rounded p-4">
        <button class="button-integrations" type="button">
          <img alt="Github logo" src="{{ base_path ~ directory }}/images/github-vector-logo.svg" />
        </button>
        <div class="inner">
          <h3 class="mb-4">Github - checks</h3>
          <p class="mb-3">Github app that provides a check for your pull requests. Once testing job is completed it will be posted
            to your pull request as a check so you have all results right there, in pull request thread.
          </p>
          <p>
            <a class="read-more" target="_blank" href="https://diffy.website/documentation/github-integration">Read more »</a>
          </p>
        </div>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card-rounded p-4">
        <button class="button-integrations" type="button">
          <img alt="Pantheon logo" src="{{ base_path ~ directory }}/images/pantheon-vector-logo2.svg" />
        </button>
        <div class="inner">
          <h3 class="mb-4">Pantheon - <a href="https://pantheon.io/docs/guides/build-tools">Build Tools</a></h3>
          <p class="mb-3">Build Tools allow to spin up Multi Dev pull request environments. We provide an easy integration to
            compare those environments with Dev and post results back to Github.
          </p>
          <p>
            <a class="read-more" target="_blank" href="https://diffy.website/documentation/pantheon-build-tools">Read more »</a>
          </p>
        </div>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card-rounded p-4">
        <button class="button-integrations" type="button">
          <img alt="CircleCI logo" src="{{ base_path ~ directory }}/images/circleci-vector-logo.svg" />
        </button>
        <div class="inner">
          <h3 class="mb-4">CircleCI Orb</h3>
          <p class="mb-3">Custom CircleCI Orb that compares pull request environments with DEV so you have less integration code to maintain as it is hidden in the orb.</p>
          <p>
            <a class="read-more" target="_blank" href="https://github.com/DiffyWebsite/diffy-circleci-orb">Read more »</a>
          </p>
        </div>
      </article>
    </div>
</section>

<section class="visual-testing__block mt-5 mb-5 pt-md-5 row">
  <div class="col-12 d-md-flex">
    <h2>Visual Testing for an Amazing User Experience</h2>
    <div class="inner">
      <p>What’s the easiest way to turn off a potential customer? According to 88% of them, a poor user experience on your site.</p>
      <p>Drupal prides itself on being the perfect CMS to build fast-loading pages that play nice with tools like payment systems and creating a smooth user experience.</p>
      <p>The problem comes when plug-ins and themes are introduced. These elements can create visual bugs when the CMS is updated - defeating the purpose of seamless UX.</p>
      <p>How do you catch these bugs and fix them instantly? By running fast, drupal tests on our automated visual testing platform.</p>
      <p>Diffy saves you hours (and dollars!) of QA, while making sure your Drupal site provides an impeccable visual experience for your users.</p>
    </div>
  </div>
</section>

<section class="can-i-just-do-it-block row">
  <div class="col-md-12 mt-5 mb-5 pt-md-3 d-md-flex">
    <h2>Can I just do it on my own?</h2>
    <div class="inner">
      <ol>
        <li>Get started in less than 5 minutes. No local dependencies.</li>
        <li>Share results with clients. No need to take care of storing images somewhere.</li>
        <li>No need to set up and maintain your own server. A year of our service will cost you less than the effort having your own.</li>
        <li>And to top it all off, you get some nice extra features such as Slack integration with no effort</li>
      </ol>
      <div class="try-for-free__block mt-5">
        <div class="action-link-wrap">
          <div class="try-link">
            <a href="https://app.diffy.website/#/register">Try For Free</a>
            <p>no credit card required</p>
          </div>
          <div class="demo-video">
            <button type="button" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/cbU1VqFnGaI" data-target="#myModal">
              <span class="play-img"></span>View demo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
