<section class="container-fluid max-width-1280 main-banner main_banner__wordpress mt-5 pt-3">
  <div class="row px-md-5 mx-md-5">
    <div class="col-12 col-md-6">
      <h1>CSS Testing Made Easy</h1>
      <h3>The #1 visual regression testing tool for <br/>Wordpress. Never miss a visual bug again.</h3>
      <div class="try-for-free__block mt-5">
        <div class="action-link-wrap">
          <div class="try-link">
            <a href="https://app.diffy.website/#/register">Try For Free</a>
            <p>no credit card required</p>
          </div>
          <div class="book-demo">
            <a href="https://calendly.com/diffy/demo" target="_blank">Book a Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 trusted-agencies__block mt-3 mb-3 pb-4 mt-md-5 mb-md-5 pt-md-4 pb-md-5">
  <div class="row px-md-5 mx-md-5">
    <div class="col-12 d-flex justify-content-center justify-content-md-between align-items-md-center">
      <h2>Trusted by world class organizations</h2>
      <img src="{{ base_path ~ directory }}/images/wpok-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/red-dot-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/0352-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/five-paths-logo.svg" alt="" />
      <img src="{{ base_path ~ directory }}/images/door3-logo.svg" alt="" />
    </div>
  </div>
</section>

<section class="block-features px-3 row">
  <div class="row px-3">
    <div class="col-12 d-flex justify-content-center mb-4 mt-5">
      <h2>Use Cases</h2>
    </div>
    <div class="col-md-6 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">WordPress Hosting</h3>
        <p class="mb-3">
          Ensure your updates do not break your clients sites. We can take screenshots of multiples sites before and after
          the update to ensure no breaks were introduced.
        </p>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Archive/Monitoring</h3>
        <p class="mb-3">
          Your client can refer that you have broken the site with your changes even if you didn't touch that section. We allow you to have
          visual archive of the site so you can always show how site was before your work. In the same way you can monitor what editors do.
        </p>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">WordPress Theme</h3>
        <p class="mb-3">
          If you sell and maintain a theme you probably have a demo site. By adding visual regression testing to demo site
          you can ensure nothing gets broken when you deploy new changes.
        </p>
      </article>
    </div>

    <div class="col-md-6 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Optimization</h3>
        <p class="mb-3">
          Running performance optimization? We ensure that your changes had zero visual changes to the site on all pages.
        </p>
      </article>
    </div>

  </div>
</section>

<section class="review__block mt-5 mb-5 pt-md-5 pb-md-5 row">
  <div class="d-md-flex">
    <div class="col-md-3">
      <span class="quote-bg"><img src="{{ base_path ~ directory }}/images/daniele-besana.png" alt="Daniele Besana" /></span>
      <p class="text-align-center small-text"><strong>Daniele Besana</strong></p>
      <p class="text-align-center small-text">Founder of WP-OK</p>
    </div>
    <div class="col-md-9 pt-3 pt-md-5 d-md-flex quote">
      <i class="fas fa-quote-right"></i>
      <p>
        At WP-OK we manage hundreds of WordPress websites, and detecting an issue before our customers do it's a tremendous added value.
        Before signing up I was afraid of having to deal with a lot of false positives.
        But the comparison works really well and Diffy helps us to deliver our promises.
        It's like having extra staff in our team!
      </p>
    </div>
  </div>
</section>

<section class="block-features px-3 row">

  <div class="col-12 d-flex justify-content-center mb-4 mt-5">
    <h2>Main Features</h2>
  </div>

  <div class="col-md-6 col-lg-3 d-flex mb-4">
    <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Monitoring</h3>
        <p class="mb-3">
          Set daily/weekly monitoring on auto-pilot and receive notifications when something actually changed.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Custom Image Compare Algorithm</h3>
        <p class="mb-3">
          Get less false positive noise as our algorithm understands vertical shifts.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Performance</h3>
        <p class="mb-3">
          Use highly scalable infrastructure of workers so you get results faster. Take thousands of screenshots in 30+ concurrent browser sessions.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Predefined and Custom Environments</h3>
        <p class="mb-3">
          Compare your Live with Staging or Staging with Development. We support custom environments for your pull request builds.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Easy to integrate</h3>
        <p class="mb-3">
          We have a <a href="https://github.com/DiffyWebsite/diffy-cli" target="_blank">CLI tool</a> to interact with our APIs so you can builds integrations fast.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Mask / Exclude elements</h3>
        <p class="mb-3">
          Avoid false positives by removing / masking DOM elements on the page prior to taking the screenshot. Great for hiding ads, slides, popups.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Delay, scroll, javascript</h3>
        <p class="mb-3">
          Get the needed state of the page by executing custom javascript, setting a delay or scrolling.
        </p>
      </article>
    </div>

    <div class="col-md-6 col-lg-3 d-flex mb-4">
      <article class="shadow-card-rounded p-4">
        <h3 class="mb-4">Teams, notifications</h3>
        <p class="mb-3">
          Set up your team to share projects. Email, Slack, Github notifications available.
        </p>
      </article>
    </div>

</section>

<section class="visual-testing__block mt-5 mb-5 pt-md-5 pb-md-4 row">
  <div class="col-12 px-md-4 d-md-flex">
    <h2>CSS Testing - The Why</h2>
    <div class="inner">
      <p>CSS bugs are extremely easy to introduce because unique rules need to be written for rendering every visual element on a page, taking into consideration all combinations of devices, browsers, and screen sizes.</p>
      <p>It’s simply too much for a developer to handle manually.</p>
      <p>Moreover, because these bugs might only appear in certain browsers and screen sizes, they’re quite hard to catch.</p>
      <p>And you can’t just sit around and wait for your users to let you know about a visual bug - if they have a bad user experience, more often than not they’ll just leave and check out a competitor!</p>
      <p>Hence the importance of CSS testing.</p>
    </div>
  </div>
</section>

<section class="block-features row px-3">
  <div class="col-12 d-flex justify-content-center mb-3 mt-5">
    <h2>Integrations</h2>
  </div>

  <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
    <article class="shadow-card-rounded p-4">
      <button class="button-integrations" type="button">
        <img alt="Pantheon logo" src="{{ base_path ~ directory }}/images/pantheon-vector-logo2.svg" />
      </button>
      <div class="inner">
        <h3 class="mb-4">Pantheon - Quicksilver</h3>
        <p class="mb-3">Monitor your website for updates and if any found — create an updated site and compare it
          visually with production.
          So you can run your updates safely.</p>
        <p>
          <a class="read-more" target="_blank" href="https://github.com/DiffyWebsite/quicksilver-examples/tree/master/diffy_visualregression">Read more »</a>
        </p>
      </div>
    </article>
  </div>

  <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
    <article class="shadow-card-rounded p-4">
      <button class="button-integrations" type="button">
        <img alt="Acquia logo" src="{{ base_path ~ directory }}/images/acquia-vector-logo.svg" />
      </button>
      <div class="inner">
        <h3 class="mb-3">Acquia</h3>
        <p class="mb-3">Trigger Diffy comparison job with Acquia webhooks after deployment.
          So you know exactly what changes are coming with the next release.
        </p>
        <p>
          <a class="read-more" target="_blank" href="https://github.com/DiffyWebsite/diffy-acquia">Read more »</a>
        </p>
      </div>
    </article>
  </div>

  <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0 mt-4">
    <article class="shadow-card-rounded p-4">
      <button class="button-integrations" type="button">
        <img alt="Platform.sh logo" src="{{ base_path ~ directory }}/images/platform-vector-logo.svg" />
      </button>
      <div class="inner">
        <h3 class="mb-3">Platform.sh</h3>
        <p class="mb-3">We test Drupal core Umami distribution with Diffy and Platform.sh.
          Allows visual testing of patches for both anonymous and admin users.
        </p>
        <p>
          <a class="read-more" target="_blank" href="https://medium.com/diffy/umami-distribution-testing-automation-with-platform-sh-and-diffy-91272af485b">Read more »</a>
        </p>
      </div>
    </article>
  </div>

  <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
    <article class="shadow-card-rounded p-4">
      <button class="button-integrations" type="button">
        <img alt="Github logo" src="{{ base_path ~ directory }}/images/github-vector-logo.svg" />
      </button>
      <div class="inner">
        <h3 class="mb-4">Github - checks</h3>
        <p class="mb-3">Github app that provides a check for your pull requests. Once testing job is completed it will be posted
          to your pull request as a check so you have all results right there, in pull request thread.
        </p>
        <p>
          <a class="read-more" target="_blank" href="https://diffy.website/documentation/github-integration">Read more »</a>
        </p>
      </div>
    </article>
  </div>

  <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
    <article class="shadow-card-rounded p-4">
      <button class="button-integrations" type="button">
        <img alt="Pantheon logo" src="{{ base_path ~ directory }}/images/pantheon-vector-logo2.svg" />
      </button>
      <div class="inner">
        <h3 class="mb-4">Pantheon - <a href="https://pantheon.io/docs/guides/build-tools">Build Tools</a></h3>
        <p class="mb-3">Build Tools allow to spin up Multi Dev pull request environments. We provide an easy integration to
          compare those environments with Dev and post results back to Github.
        </p>
        <p>
          <a class="read-more" target="_blank" href="https://diffy.website/documentation/pantheon-build-tools">Read more »</a>
        </p>
      </div>
    </article>
  </div>

  <div class="col-md-6 d-flex mb-4 mt-4 mb-md-0">
    <article class="shadow-card-rounded p-4">
      <button class="button-integrations" type="button">
        <img alt="CircleCI logo" src="{{ base_path ~ directory }}/images/circleci-vector-logo.svg" />
      </button>
      <div class="inner">
        <h3 class="mb-4">CircleCI</h3>
        <p class="mb-3">Custom CircleCI Orb that compares pull request environments with DEV so you have less integration code to maintain as it is hidden in the orb.</p>
        <p>
          <a class="read-more" target="_blank" href="https://github.com/DiffyWebsite/diffy-circleci-orb">Read more »</a>
        </p>
      </div>
    </article>
  </div>
</section>

<section class="visual-testing__block mt-5 mb-5 pt-md-5 pb-md-4 row">
  <div class="col-12 px-md-4 d-md-flex">
    <h2>About Visual Regression Testing Tools</h2>
    <div class="inner">
      <p>The most straightforward approach to perform a CSS test is called visual regression testing.</p>
      <p>Tools like Diffy allow developers to save hours of QA, by leveraging the power of technology.</p>
      <p>These visual regression testing tools are able to detect the tiniest of bugs - those that a user would describe as “something about this page just feels off”.</p>
      <p>By having three different staging environments, visual bugs are caught early on, and teams are able to keep a steady schedule, since no dev has to keep going back and fix issues nobody knew about. </p>
    </div>
  </div>
</section>

<section class="can-i-just-do-it-block row">
  <div class="col-md-12 mt-5 mb-5 pt-md-3 px-md-4 d-md-flex">
    <h2>Can I just do it on my own?</h2>
    <div class="inner">
      <ol>
        <li>Get started in less than 5 minutes. No local dependencies.</li>
        <li>Share results with clients. No need to take care of storing images somewhere.</li>
        <li>No need to set up and maintain your own server. A year of our service will cost you less than the effort having your own.</li>
        <li>And to top it all off, you get some nice extra features such as Slack integration with no effort</li>
      </ol>
      <div class="try-for-free__block mt-5">
        <div class="action-link-wrap">
          <div class="try-link">
            <a href="https://app.diffy.website/#/register">Try For Free</a>
            <p>no credit card required</p>
          </div>
          <div class="book-demo">
            <a href="https://calendly.com/diffy/demo" target="_blank">Book a Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
