{#<h2 class="text-center pricing__headline px-4 px-md-0">#}
  {#Manage your team and clients effectively#}
{#</h2>#}
{{ attach_library('marketing/pricing_page') }}

<section class="container-fluid max-width-1280 mt-5 px-3 px-md-5 pricing-card-block align-center">
  <p style="font-size: 20px;
    text-align: center;
    font-weight: 900;">
    All plans come with a 2 weeks trial period<br/>(no credit card required)</p>
</section>


<section class="container-fluid max-width-1280 mt-5 px-3 px-md-5 pricing-card-block">
  <div class="price-period-switcher d-flex justify-content-center">
    <div class="switcher monthly active" data-type="monthly">Monthly</div>
    <div class="switcher annual" data-type="annual">Annual</div>
  </div>
  <div class="row px-3">
{#    <div class="col-lg-3 pricing-card m-0">#}
{#      <article class="pricing-card--shadow js-hidden">#}
{#        <div class="pricing-card--shadow p-3 text-center pricing-card__head">#}
{#          <h4>Pay-as-you-go</h4>#}
{#          <small class="m-0">Pay only for what you use</small>#}
{#        </div>#}
{#        <ul class="p-3 text-center pricing-card__body">#}
{#          <li><strong>1000 screenshots</strong></li>#}
{#          <li class="text--light">Real-time usage reporting</li>#}
{#          <li class="text--light">Multiple environments</li>#}
{#          <li class="text--light">Screenshot modification</li>#}
{#          <li class="text--light">Automation, REST API</li>#}
{#          <li class="text--light">Team management</li>#}
{#        </ul>#}
{#        <div class="border"></div>#}
{#        <div class="p-3 text-center pricing-card__bottom">#}
{#          <b class="payasyougo-price-text">$20</b>#}
{#          <p class="text--light text--small payasyougo-price-description">(2¢ per screenshots)</p>#}
{#          {% if marketing_payasyougo_url is not empty %}#}
{#            <a target="_blank" href="{{ marketing_payasyougo_url }}" class="marketing-payasyougo-btn button button--select btn pt-2 diffy-register">{{ marketing_price_btn }}</a>#}
{#          {% endif %}#}
{#        </div>#}
{#      </article>#}
{#    </div>#}

    <div class="col-lg-4 pricing-card m-0">
      <article class="pricing-card--shadow js-hidden">
        <div class="pricing-card--shadow p-3 text-center pricing-card__head">
          <h4>Individual</h4>
          <small class="m-0">Great start for freelancers to test 2-5 projects.</small>
        </div>
        <ul class="p-3 text-center pricing-card__body">
          <li><strong>100 pages<a href="#pages">*</a></strong></li>
          <li class="text--light">Unlimited screenshots and diffs</li>
          <li class="text--light">Multiple environments</li>
          <li class="text--light">Screenshot modification</li>
          <li class="text--light">Automation, REST API</li>
          <li class="text--light">Team management</li>
        </ul>
        <div class="border"></div>
        <div class="p-3 text-center pricing-card__bottom">
          <b class="indvidual-price-text">$50/mo</b>
          <p class="text--light text--small indvidual-price-description">(50¢ per page)</p>
          {% if marketing_individual_url is not empty %}
            <a target="_blank" href="{{ marketing_individual_url }}" class="marketing-individual-month-btn button button--select btn pt-2 diffy-register">{{ marketing_price_btn }}</a>
          {% endif %}

          {% if marketing_individual_annual_url is not empty %}
            <a target="_blank" href="{{ marketing_individual_annual_url }}" class="marketing-individual-annual-btn button button--select btn pt-2 marketing-hidden diffy-register">{{ marketing_price_btn }}</a>
          {% endif %}
        </div>
      </article>
    </div>

    <div class="col-lg-4 pricing-card pricing-card--popular">
      <div class="popular js-hidden">
        <img class="popular__image" src="{{ base_path ~ directory }}/images/price_person.svg" alt="popular">
        <div class="popular__text">Popular</div>
      </div>
      <article class="pricing-card--shadow js-hidden">
        <div class="pricing-card--shadow p-3 text-center pricing-card__head">
          <h4 class="popular__headline">Agency</h4>
          <small class="m-0">For organizations with more than 10 projects.</small>
        </div>
        <ul class="p-3 text-center pricing-card__body">
          <li><strong>1000 pages<a href="#pages">*</a></strong></li>
          <li class="text--light">Unlimited screenshots and diffs</li>
          <li class="text--light">Multiple environments</li>
          <li class="text--light">Screenshot modification</li>
          <li class="text--light">Automation, REST API</li>
          <li class="text--light">Team management</li>
        </ul>
        <div class="border"></div>
        <div class="p-3 text-center pricing-card__bottom">
          <b class="agency-price-text">$150/mo</b>
          <p class="text--light text--small agency-price-description">(15¢ per page)</p>
          {% if marketing_agency_url is not empty %}
            <a target="_blank" href="{{ marketing_agency_url }}" class="marketing-agency-month-btn button button--select btn pt-2 diffy-register">{{ marketing_price_btn }}</a>
          {% endif %}

          {% if marketing_agency_annual_url is not empty %}
            <a target="_blank" href="{{ marketing_agency_annual_url }}" class="marketing-agency-annual-btn button button--select btn pt-2 marketing-hidden diffy-register">{{ marketing_price_btn }}</a>
          {% endif %}
        </div>
      </article>
    </div>

    <div class="col-lg-4 pricing-card mt-5 mt-lg-0">
      <article class="pricing-card--shadow js-hidden">
        <div class="pricing-card--shadow p-3 text-center pricing-card__head">
          <h4>Enterprise</h4>
          <small class="m-0">Dedicated environment for your team with maximum performance.</small>
        </div>
        <ul class="p-3 text-center pricing-card__body">
          <li><strong>Any number of pages<a href="#pages">*</a></strong></li>
          <li class="text--light">Unlimited screenshots and diffs</li>
          <li class="text--light">Multiple environments</li>
          <li class="text--light">Screenshot modification</li>
          <li class="text--light">Automation, REST API</li>
          <li class="text--light">Team management</li>
        </ul>
        <div class="border"></div>
        <div class="p-3 text-center pricing-card__bottom">
          <b>Talk to us</b>
          <p class="text--light text--small">(lowest price per page)</p>
          <a href="mailto:info@diffy.website" class="button button--select btn pt-2">{{ marketing_price_btn }}</a>
        </div>
      </article>
    </div>

  </div>
</section>

<h2 class="text-center question-headline">Frequently asked questions</h2>

<div class="question-block">
  <h2 class="text-center question-headline--hidden">Frequently asked questions</h2>
  <section class="container-fluid max-width-1280">
    <div class="row px-3">

      <div class="col-md-6 my-4">
        <div class="row">
          <div class="col-1 p-0 text-right">
            <div>
              <em class="fas fa-question"></em>
            </div>
          </div>
          <div class="col-11">
            <h4 class="mb-4 pt-1"><a name="pages"></a>What does the "100 pages" plan mean?</h4>
            <p>This means that all your projects together should not exceed 100 pages.
              On average single site would have around 20-30 critical pages to check.
              But you still create really large number of screenshots as we do not
              limit how many times you can take them.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-4">
        <div class="row">
          <div class="col-1 p-0 text-right">
            <div>
              <em class="fas fa-question"></em>
            </div>
          </div>
          <div class="col-11 pt-1">
            <h4 class="mb-4">What forms of payment are accepted?</h4>
            <p>We accept Visa, MasterCard by using Stripe as a payment gateway.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-4">
        <div class="row">
          <div class="col-1 p-0 text-right">
            <div>
              <em class="fas fa-question"></em>
            </div>
          </div>
          <div class="col-11 pt-1">
            <h4 class="mb-4"><a name="workers"></a>What browser is used to take screenshots? What about performance?</h4>
            <p>We are using Amazon Lambda for taking screenshots with Chrome as a browser. This allows us
              to take hundreds of screenshots within 5-10 minutes.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-4">
        <div class="row">
          <div class="col-1 p-0 text-right">
            <div>
              <em class="fas fa-question"></em>
            </div>
          </div>
          <div class="col-11 pt-1">
            <h4 class="mb-4">What about support?</h4>
            <p>We are spread between Pacific and Eastern European timezones. This allows us to cover a lot of timezones
              for reasonable response time.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-10 container headline--margin-top px-5">
      <h2 class="text-center mb-5">What is Automation testing?</h2>
      <p>When developing any type of digital product, most of the QA processes will require professionals to engage in some manual work.</p>

      <p>However, depending on the type of tests you’re running, you can save a lot of time and money by automating a few of the components.</p>

      <p>This is where automation testing comes in. And it’s especially valuable when it comes to testing components of a product that will vary depending on factors such as the OS, screen-size, and devices of the end-users.</p>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-10 container headline--margin-top px-5">
      <h2 class="text-center mb-5">Benefits of Automation Testing & Visual Regression Tools</h2>
      <p>As noted above, automation testing is especially important for running non functional tests, because:
      <ul>
        <li>Most non functional tests can be automated (think of usability tests, load tests, and volume tests)</li>
        <li>Most functional test can’t be automated or are very expensive to automate (think integration testing, unit testing, or acceptance testing)</li>
        <li>Errors in functionality are easier to catch manually, while many non functional errors need pixel-perfect algorithms to be found.</li>
        <li>Non functional errors often show up depending on the end-users’ environment, making it impossible to recreate manually (or at the very least, extremely time consuming)</li>
      </ul>
      </p>

      <p>If you want to automate your visual regression testing, you don’t need to look any further -- you’ve found the ideal solution.</p>

      <p>Diffy has a hybrid model of pixel-perfect comparison and a custom solution to understand vertical shifts.</p>

    </div>
  </div>
</section>
