<section class="main-banner mt-lg-5 pt-lg-5 mb-md-5">
  <div class="row px-lg-3">

    <div class="col-12 col-md-12 features-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <h1 class="text-center">Web UI Automation Testing</h1>
        <h3 class="text-center">Over 20+ features for insanely accurate visual automation testing.</h3>
        <div class="hero-area">
          <img src="{{ base_path ~ directory }}/images/features-demo-thumbnail.jpg" alt="Web UI Automation Testing" />
          <div class="demo-video">
            <button type="button"
                    class="video-btn"
                    data-toggle="modal"
                    data-src="https://www.youtube.com/embed/cbU1VqFnGaI"
                    data-src="https://www.loom.com/share/263077da24444cf1b831499bc006461e"
                    data-target="#myModal">
              <span class="play-img"></span>
            </button>
            <p>See video about <br /> all key features</p>
          </div>
        </div>
        <div class="try-for-free__block">
          <div class="action-link-wrap justify-content-center">
            <div class="try-link">
              <a href="https://app.diffy.website/#/register">Try For Free</a>
            </div>
            <div class="book-demo">
              <a href="https://calendly.com/diffy/demo" target="_blank">Book a Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--top">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img class="test-img" src="{{ base_path ~ directory }}/images/image-3.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-6 order-first order-md-2 screenshot-block__text d-flex">
      <div class="col-lg-9 my-auto">
        <h3>Pixel perfect + custom algorithm to compare images</h3>
        <p>
          What makes us the most accurate tool for visual automation testing? Our hybrid model of pixel perfect comparison + custom solution to understand vertical shifts.
        </p>
{#        <p>#}
{#          <a class="screenshot-block__link" href="/visual-testing-custom-algorithm">Check out the difference here »</a>#}
{#        </p>#}
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--bottom">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__text d-flex justify-content-end">
      <div class="col-lg-9 my-auto">
        <h3>Three environments: production, staging and development. Bypass basic authentication.</h3>
        <p>
          So it is easy to run comparison after you do deployments.
          Also it is possible to have custom environments for your CI builds.
        </p>
      </div>
    </div>

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-4.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--top">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img class="test-img" src="{{ base_path ~ directory }}/images/image-5.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-6 order-first order-md-2 screenshot-block__text d-flex">
      <div class="col-lg-9 my-auto">
        <h3>Paste list of URL’s or scan pages for internal links.</h3>
        <p>
          Start your project by scanning your pages for internal links & building a list of the URLs you want covered with UI automation testing.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--bottom">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__text d-flex justify-content-end">
      <div class="col-lg-9 my-auto">
        <h3>Multiple breakpoints to cover mobile, tablet, desktop.</h3>
        <p>
          You can select any of available breakpoints so your
          screenshots are taken with different screen widths.
        </p>
      </div>
    </div>

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-6.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--top">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/image-7.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-6 order-first order-md-2 screenshot-block__text d-flex">
      <div class="col-lg-9 my-auto">
        <h3>Take screenshots as logged in user</h3>
        <p>
          Did you know we cover both <a class="light-blue" href="/drupal">Drupal testing</a> & <a class="light-blue" href="/wordpress">Wordpress automated testing</a>?
          You can test your dashboards, profile pages and other parts of your site that require log in.
        </p>
        <p>
          And if you choose custom authentication, simply provide the CSS selectors of the form elements.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--bottom">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__text d-flex justify-content-end">
      <div class="col-lg-9 my-auto">
        <h3>Team management.</h3>
        <p>
          True web UI automation testing is done as a team. Add users to your project so they can access different projects, trigger tasks, & review results.
        </p>
      </div>
    </div>

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-8.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--top">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/image-9.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-6 order-first order-md-2 screenshot-block__text d-flex">
      <div class="col-lg-9 my-auto">
        <h3>Custom delay.</h3>
        <p>
          Scroll the page before taking a screenshot.
          A must for web pages with lazy loading images and other elements.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--bottom">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__text d-flex justify-content-end">
      <div class="col-lg-9 my-auto">
        <h3>Custom HTTP headers like User-Agent to be used</h3>
        <p>
          Every time you’re doing visual automation testing, you’re taking screenshots that generate website traffic. Exclude them from Google Analytics by using alternative HTTP headers.
          This way, your UI tests won’t affect your real user’s data.
        </p>
        <p>
          <a class="light-blue" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers">Visit HTTP Headers documentation for more information</a>.
        </p>
      </div>
    </div>

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-10.png" alt="screenshot">
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--top">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-14.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-6 order-first order-md-2 screenshot-block__text d-flex">
      <div class="col-lg-9 my-auto">
        <h3>Monitoring</h3>
        <p>
          Set up weekly checks of your production environment.
          It will trigger set of screenshots and compare them with a previous run.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="screenshot-block--bottom">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__text d-flex justify-content-end">
      <div class="col-lg-9 my-auto">
        <h3>Isolating / Masking / Removing elements from the DOM before taking screenshot.</h3>
        <p>
          So you can remove ads and popups or mask sliders on the page.
          Otherwise there is high chance they will create false positives for you.
        </p>
      </div>
    </div>

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/image-12.png" alt="screenshot">
      </div>
    </div>
  </div>
</section>

<section class="screenshot-block--top">
  <div class="row px-lg-3">

    <div class="col-md-6 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/image-13.png" alt="screenshot">
      </div>
    </div>

    <div class="col-md-6 order-first order-md-2 screenshot-block__text d-flex">
      <div class="col-lg-9 my-auto">
        <h3>Notifications, slack messages</h3>
        <p>
          Want another way to send the results of your visual automated tests to other users? Do it via Slack or your CI server. As easy as it gets.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="bottom-banner__block_v2 row">
  <div class="inner col-12">
    <h2 class="text-align-center">Diffy help your QA team</h2>
    <h3 class="text-align-center">to ensure that websites don't get visual bugs</h3>
    <div class="try-for-free__block">
      <div class="action-link-wrap justify-content-center">
        <div class="try-link">
          <a href="https://app.diffy.website/#/register">Try For Free</a>
          <p>no credit card required</p>
        </div>
        <div class="book-demo">
          <a href="https://calendly.com/diffy/demo" target="_blank">
            Book a Demo
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
