{# Pricing Page #}
{{ attach_library('marketing/pricing_page') }}

{# Title #}
<section class="container-fluid max-width-1280 pricing-card-title d-flex justify-content-center">
  <h2>Boost your QA team with Diffy</h2>
  <h4>All plans come with a 2-week free trial period</h4>
</section>


{# Pricing Card #}
<section class="container-fluid max-width-1280 pricing-card-block">

  <div class="price-period-switcher d-flex justify-content-center">
    <div class="switcher annual active" data-type="annual">Annually<span>Save up to 25%</span>
    </div>
    <div class="toggle">
      <input type="checkbox" id="check-switcher"/>
      <label for="check-switcher"></label>
    </div>
    <div class="switcher monthly " data-type="monthly">Monthly</div>
  </div>

  <div class="row justify-content-center pricing-card--wrapper">

    <div class="col-lg pricing-card pricing-card--individual pricing-card--regular">
      <article class="pricing-card--container js-hidden">

        <div class="pricing-card__top">

          <div class="pricing-card__head">
            <h4>Individual</h4>
            <small class="m-0">Great start for freelancers to test 2-5 projects.</small>
          </div>

          <div class="pricing-card__price">
            <div class="price-wrapper">
              <span>
                <p class="individual-price-text price-text m-0">$59</p>
                <small>/ month</small>
              </span>
              <p class="m-0 text--light text--small individual-price-description price-description">billed annually</p>
            </div>
          </div>

          <div class="border"></div>

          <ul class="pricing-card__body">
            <li>
              <strong>100 pages<a href="#pages">*</a>
              </strong>
            </li>
            <li>Unlimited screenshots and diffs</li>
            <li>Screenshot modifications</li>
            <li>Prod, Stage environments</li>
          </ul>
        </div>

        <div class="pricing-card__bottom">
          <a target="_blank" href="https://app.diffy.website/#register" class="marketing-individual-month-btn button button--select btn diffy-register">
            Start Free Trial
          </a>
          <span class="diffy-register-description">no credit card required</span>
        </div>

      </article>
    </div>

    <div class="col-lg pricing-card pricing-card--agency pricing-card--popular">
      <article class="pricing-card--container js-hidden">

        <div class="pricing-card__top">
          <div class="pricing-card__popular-text">Popular</div>

          <div class="pricing-card__head">
            <h4>Agency</h4>
            <small class="m-0">For organizations with more than 10 projects.</small>
          </div>

          <div class="pricing-card__price">
            <div class="price-wrapper">
              <span>
                <p class="agency-price-text price-text m-0">$179</p>
                <small>/ month</small>
              </span>
              <p class="m-0 text--light text--small agency-price-description price-description">billed annually</p>
            </div>
          </div>

          <div class="border"></div>

          <ul class="pricing-card__body">
            <li>
              <strong>1 000 pages<a href="#pages">*</a>
              </strong>
            </li>
            <li>Unlimited screenshots and diffs</li>
            <li>Screenshot modifications</li>
            <li>Prod, Stage environments + custom environments</li>
            <li>Automation, REST API</li>
            <li>Team management</li>
          </ul>
        </div>

        <div class="pricing-card__bottom">
          <a target="_blank" href="https://app.diffy.website/#register" class="marketing-individual-month-btn button button--select btn diffy-register">
            Start Free Trial
          </a>
          <span class="diffy-register-description">no credit card required</span>
        </div>

      </article>
    </div>

    <div class="col-lg pricing-card pricing-card--enterprise pricing-card--regular">
      <article class="pricing-card--container js-hidden">

        <div class="pricing-card__top">

          <div class="pricing-card__head">
            <h4>Enterprise</h4>
            <small class="m-0">Set up for your team with maximum performance.</small>
          </div>

          <div class="pricing-card__price">
            <div class="price-wrapper">
              <span>
                <p class="enterprise-price-text price-text m-0">$749</p>
                <small>/ month</small>
              </span>
              <p class="m-0 text--light text--small enterprise-price-description price-description">billed annually</p>
            </div>
          </div>

          <div class="border"></div>

          <ul class="pricing-card__body">
            <li>
              <strong>5 000 pages<a href="#pages">*</a>
              </strong>
            </li>
            <li>Unlimited screenshots and diffs</li>
            <li>Screenshot modifications</li>
            <li>Prod, Stage environments + custom environments</li>
            <li>Automation, REST API</li>
            <li>Team management</li>
            <li>Priority support</li>
            <li>Corporate VPN connection</li>
          </ul>
        </div>

        <div class="pricing-card__bottom contact-us--btn">
          <a target="_blank" href="https://app.diffy.website/#register" class="marketing-enterprise-month-btn button button--select btn diffy-register">
            Contact Us
          </a>
          <span class="diffy-register-description">no credit card required</span>
        </div>

      </article>
    </div>

  </div>

</section>

<section class="achievements-block container-fluid max-width-1280 d-flex justify-content-center">
  <div class="achievements-wrap d-flex">
    <div class="achievements-title">5 years</div>
    <div class="achievements-text">on the market</div>
    <div class="achievements-link">about us</div>
  </div>
  <div class="achievements-wrap">
    <div class="achievements-title">1 000+</div>
    <div class="achievements-text">websites tested</div>
  </div>
  <div class="achievements-wrap">
    <div class="achievements-title">2 million</div>
    <div class="achievements-text">screenshots taken</div>
  </div>
</section>

<section class="mt-4 customers-block--pricing-page container-fluid max-width-1280">
  <div class="row">
    <div class="customer-block--title w-100 d-flex justify-content-center align-items-center">
      <h2>Trusted by world class agencies</h2>
    </div>

    <div class="customers-logo col-sm-4 col-md-2">
      <img class="m-auto" alt="WelcomeLA logo" src="{{ base_path ~ directory }}/images/losangeles_colored.png" alt="los_angeles">
    </div>

    <div class="customers-logo col-sm-4 col-md-2">
      <img class="m-auto" alt="MD Systems logo" src="{{ base_path ~ directory }}/images/mdsystems_colored.png" alt="md systems" style="width: 115px;">
    </div>

    <div class="customers-logo col-sm-4 col-md-2">
      <img class="m-auto" alt="Connely logo" src="{{ base_path ~ directory }}/images/connely_colored.png" alt="connely">
    </div>

    <div class="customers-logo col-sm-4 col-md-2">
      <img class="m-auto pr-4 pr-md-0" alt="352 logo" src="{{ base_path ~ directory }}/images/352_colored.png" alt="352">
    </div>

    <div class="customers-logo col-sm-4 col-md-2">
      <img class="m-auto" alt="FivePaths logo" src="{{ base_path ~ directory }}/images/fivepaths_colored.png" alt="five">
    </div>

    <div class="customers-logo col-sm-4 col-md-2">
      <img class="m-auto" alt="Door3 logo" src="{{ base_path ~ directory }}/images/door3_colored.png" alt="door3">
    </div>
  </div>
</section>

{# FAQ Block #}
<section class="container-fluid accordion-block">

  <div class="accordion-block-title">
    <h2>Frequently asked questions</h2>
  </div>

  <ul class="accordion accordion-block-content">

    <li class="accordion__item">
      <div class="accordion__trigger">
        <p class="accordion__title">What does the "100 pages" plan mean?</p>
        <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5 10C20.5 10.8654 19.7788 11.5865 18.9615 11.5865H12.0385V18.5096C12.0385 19.3269 11.3173 20 10.5 20C9.63462 20 8.96154 19.3269 8.96154 18.5096V11.5865H2.03846C1.17308 11.5865 0.5 10.8654 0.5 10C0.5 9.18269 1.17308 8.50962 2.03846 8.50962H8.96154V1.58654C8.96154 0.721154 9.63462 0 10.5 0C11.3173 0 12.0385 0.721154 12.0385 1.58654V8.50962H18.9615C19.7788 8.46154 20.5 9.18269 20.5 10Z" fill="#53BAD1"/>
        </svg>
      </div>
      <div class="accordion__content">
        This means that all your projects together should not exceed 100 pages. On average single site would have around 20-30 critical pages to check. But you still create really large number of screenshots as we do not limit how many times you can take them.
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__trigger">
        <p class="accordion__title">What forms of payment are accepted?</p>
        <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5 10C20.5 10.8654 19.7788 11.5865 18.9615 11.5865H12.0385V18.5096C12.0385 19.3269 11.3173 20 10.5 20C9.63462 20 8.96154 19.3269 8.96154 18.5096V11.5865H2.03846C1.17308 11.5865 0.5 10.8654 0.5 10C0.5 9.18269 1.17308 8.50962 2.03846 8.50962H8.96154V1.58654C8.96154 0.721154 9.63462 0 10.5 0C11.3173 0 12.0385 0.721154 12.0385 1.58654V8.50962H18.9615C19.7788 8.46154 20.5 9.18269 20.5 10Z" fill="#53BAD1"/>
        </svg>
      </div>
      <div class="accordion__content">
        We accept Visa, MasterCard by using Stripe as a payment gateway.
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__trigger">
        <p class="accordion__title">What browser is used to take screenshots? What about performance?</p>
        <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5 10C20.5 10.8654 19.7788 11.5865 18.9615 11.5865H12.0385V18.5096C12.0385 19.3269 11.3173 20 10.5 20C9.63462 20 8.96154 19.3269 8.96154 18.5096V11.5865H2.03846C1.17308 11.5865 0.5 10.8654 0.5 10C0.5 9.18269 1.17308 8.50962 2.03846 8.50962H8.96154V1.58654C8.96154 0.721154 9.63462 0 10.5 0C11.3173 0 12.0385 0.721154 12.0385 1.58654V8.50962H18.9615C19.7788 8.46154 20.5 9.18269 20.5 10Z" fill="#53BAD1"/>
        </svg>
      </div>
      <div class="accordion__content">
        We are using Amazon Lambda for taking screenshots with Chrome as a browser. This allows us to take hundreds of screenshots within 5-10 minutes.
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__trigger">
        <p class="accordion__title">What about support?</p>
        <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5 10C20.5 10.8654 19.7788 11.5865 18.9615 11.5865H12.0385V18.5096C12.0385 19.3269 11.3173 20 10.5 20C9.63462 20 8.96154 19.3269 8.96154 18.5096V11.5865H2.03846C1.17308 11.5865 0.5 10.8654 0.5 10C0.5 9.18269 1.17308 8.50962 2.03846 8.50962H8.96154V1.58654C8.96154 0.721154 9.63462 0 10.5 0C11.3173 0 12.0385 0.721154 12.0385 1.58654V8.50962H18.9615C19.7788 8.46154 20.5 9.18269 20.5 10Z" fill="#53BAD1"/>
        </svg>
      </div>
      <div class="accordion__content">
        We are spread between Pacific and Eastern European timezones. This allows us to cover a lot of timezones for reasonable response time.
      </div>
    </li>

  </ul>

</section>
