{{ attach_library('marketing/calculator') }}

<section class="container-fluid max-width-1280 main-banner mt-5">
  <div class="row px-3">

    <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <h1 class="text-center"><span class="diffy">DIFFY</span> saves you time on visual testing
        </h1>
        <div class="mt-5 mb-5 pt-5">
          <div class="d-flex justify-content-center">
            <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
          </div>
          <p class="d-flex justify-content-center text--small text-center mt-2">14 days free trial period,<br/>no credit card required</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-4">
  <div class="row">
    <div class="col-md-12 text-center mb-2">
      <h2>Get started in just <i>five minutes</i></h2>
    </div>

    <div class="col-md-2 offset-md-3">
      <big>1.</big> Enter URLs of your Prod and Stage
    </div>

    <div class="col-md-2">
      <big>2.</big> Approve list of pages to check
    </div>

    <div class="col-md-2">
      <big>3.</big> Review the report
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 block-integrations mt-4">
  <div class="row px-3">
    <div class="col-12 d-flex justify-content-center mt-5">
      <h2>Integrations</h2>
    </div>
    <div class="col-md-12 text-center">
      <img class="ml-0" width="154" src="{{ base_path ~ directory }}/images/pantheon-logo.png" alt="button">
      <img class="ml-5" width="90" src="{{ base_path ~ directory }}/images/logo_acquia.png" alt="button">
      <img class="ml-5" width="154" src="{{ base_path ~ directory }}/images/platformsh.png">
      <img class="ml-5" width="120" src="{{ base_path ~ directory }}/images/github-logo.jpg">
      <img class="ml-5" width="120" src="{{ base_path ~ directory }}/images/gitlab-logo.png">
      <img class="ml-5" width="130" src="{{ base_path ~ directory }}/images/circleci-logo.png">
    </div>
  </div>
</section>

<section class="mt-4 slider-block">
  <div class="container carousel">
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center mt-2">
        <h2>Our Customers</h2>
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/los_angeles_logo@2x.png" alt="los_angeles">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/md_systems_logo.svg" alt="md systems" style="width: 115px;">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/connely_logo@2x.png" alt="connely">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto pr-4 pr-md-0" src="{{ base_path ~ directory }}/images/352_logo@2x.png" alt="352">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/five_logo@2x.png" alt="five">
      </div>

      <div class="col-6 col-md-2 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/door3_logo@2x.png" alt="door3">
      </div>
    </div>
  </div>

</section>

<section class="container-fluid max-width-1280 screenshot-block--top mt-5">
  <div class="row px-3">

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image ml-lg-auto">
        <img src="{{ base_path ~ directory }}/images/diffy-thumbnails.gif" alt="screenshot">
      </div>
    </div>

    <div class="col-md-5 order-first order-md-2 screenshot-block__text d-flex">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="pb-2"><i>Finally</i> convenient thumbnails report!</h3>
        <p>Run through thumbnails to see changes fast instead of seeing pass/fail list.</p>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280 mt-5 screenshot-block--bottom">
  <div class="row px-3">

    <div class="col-md-5 screenshot-block__text d-flex justify-content-end">
      <div class="text-center text-md-left col-lg-9 my-auto">
        <h3 class="headline-above-link pb-4 pr-lg-5 m-0">Get into details with slider</h3>
        <p>Zoom in to investigate more what has changed.
          Our custom image comparison algorithm generates less false positives.</p>
        <div class="mt-5 mb-5">
          <div class="d-flex justify-content-center">
            <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
          </div>
          <span class="d-flex justify-content-center text--small text-center mt-2">14 days free trial period,<br/>no credit card required</span>
        </div>
      </div>
    </div>

    <div class="col-md-7 screenshot-block__background p-4 p-sm-5">
      <div class="screenshot-block__image">
        <img src="{{ base_path ~ directory }}/images/diffy-slider.gif" alt="screenshot">
      </div>
    </div>

  </div>
</section>

