<section class="container-fluid max-width-1280 main-banner mt-5">
  <div class="row px-3">

    <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <h1 class="mb-5 mt-5 text-center">Cloud visual regression testing platform for <span class="save">Drupal</span>
        </h1>
        <h3 class="text-center">Save time and money on QA. Never miss another visual bug</h3>
        <div class="mt-5 mb-5">
          <div class="d-flex justify-content-center">
            <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
          </div>
          <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
        </div>
      </div>
    </div>

    {#<div class="col-12 col-md-7 main-banner__image pl-md-0 m-auto">#}
      {#<div class="m-auto">#}
        {#<img class="main-banner__illustration" src="{{ base_path ~ directory }}/images/illustration.svg" alt="illustration-banner">#}
      {#</div>#}
      {#<div class="d-flex justify-content-center">#}
        {#<a href="https://app.diffy.website" class="button button--try-for-free mt-5 hidden-button-bottom">Try for free</a>#}
      {#</div>#}
    {#</div>#}

  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5">
      <h2 class="text-center">Used by the Drupal 8 core team</h2>
      <h3 class="text-center">We help to test Umami distribution visually</h3>

      <div class="d-flex justify-content-center">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">TIL (via <a href="https://twitter.com/shaal?ref_src=twsrc%5Etfw">@shaal</a>) about Diffy: <a href="https://t.co/XZHKSnN6uJ">https://t.co/XZHKSnN6uJ</a> — a visual regression tool by <a href="https://twitter.com/ygerasimov?ref_src=twsrc%5Etfw">@ygerasimov</a> that can pinpoint the “root cause” of visual regressions with output like this! WOAH. 🤯 <a href="https://t.co/Iot73i7yZJ">pic.twitter.com/Iot73i7yZJ</a></p>&mdash; webchick-or-treat 🕸🕷🧟‍♀️🧛‍♀️ (@webchick) <a href="https://twitter.com/webchick/status/1187802342017523712?ref_src=twsrc%5Etfw">October 25, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

{#      <h3 class="text-center mt-5">We have a program for <a href="/drupal-contributors">Drupal contributors</a> <img style="width: 20px;" src="/themes/custom/marketing/images/drupal-8-logo.png"/> ❤️ ❤️ ❤️</h3>#}
      <div class="mt-5 mb-5">
        <div class="d-flex justify-content-center">
          <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
        </div>
        <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 block-integrations">
  <div class="row px-3">

    <div class="col-12 d-flex justify-content-center mb-5 mt-3">
      <h2>Main Features</h2>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Custom Image Compare Algorithm</h3>
        <p class="mb-3">
          Get less false positive noise as our algorithm understands vertical shifts.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Performance</h3>
        <p class="mb-3">
          Use highly scalable infrastructure of workers so you get results faster. Take thousands of screenshots in 30+ concurrent browser sessions.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Predefined and Custom Environments</h3>
        <p class="mb-3">
          Compare your Live with Staging or Staging with Development. We support custom environments for your pull request builds.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Easy to integrate</h3>
        <p class="mb-3">
          We have a <a href="https://github.com/DiffyWebsite/diffy-cli" target="_blank">CLI tool</a> to interact with our APIs so you can builds integrations fast.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Mask / Exclude elements</h3>
        <p class="mb-3">
          Avoid false positives by removing / masking DOM elements on the page prior to taking the screenshot. Great for hiding ads, slides, popups.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Delay, scroll, javascript</h3>
        <p class="mb-3">
          Get the needed state of the page by executing custom javascript, setting a delay or scrolling.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">As logged in user</h3>
        <p class="mb-3">
          Take screenshots as logged in user to test your backend. Supports Drupal, Wordpress and any custom form to login.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Teams, notifications</h3>
        <p class="mb-3">
          Set up your team to share projects. Email, Slack, Github notifications available.
        </p>
      </article>
    </div>

  </div>
</section>

<section class="mt-5 slider-block">
  <div class="container carousel">
    <h2 class="text-center mb-5">Trusted by world class Drupal agencies</h2>
    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/md_systems_logo.svg" alt="md systems" style="width: 200px">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/palantir.net-logo.png" alt="palantir.net" style="width: 220px">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/door3_logo@2x.png" alt="door3">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/five_logo@2x.png" alt="five">
      </div>

    </div>
  </div>
  <div class="mt-5 mb-5">
    <div>
      <div class="d-flex justify-content-center">
        <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
      </div>
      <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 block-integrations">
  <div class="row px-3">

    <div class="col-12 d-flex justify-content-center mb-5 mt-5">
      <h2>Integrations</h2>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <button class="mb-4 button-integrations" type="button">
          <img class="" src="{{ base_path ~ directory }}/images/pantheon_vector_logo.svg" alt="button">
        </button>
        <h3 class="mb-4">Pantheon - Quicksilver</h3>
        <p class="mb-3">Monitor your website for updates and if any found — create an updated site and compare it
          visually with production.
          So you can run your updates safely. <a target="_blank" href="https://github.com/DiffyWebsite/quicksilver-examples/tree/master/diffy_visualregression">Read more.</a>
        </p>
      </article>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <button class="mb-4 button-integrations" type="button">
          <img class="p-3" src="{{ base_path ~ directory }}/images/logo---blue.svg" alt="button">
        </button>
        <h3 class="mb-3">Acquia</h3>
        <p class="mb-3">Trigger Diffy comparison job with Acquia webhooks after deployment.
          So you know exactly what changes are coming with the next release.
          <a target="_blank" href="https://github.com/DiffyWebsite/diffy-acquia">Read more.</a>
        </p>
      </article>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0 mt-4">
      <article class="shadow-card p-4">
        <div class="mb-3 button-integrations" style="background-color: white">
          <img class="mt-2" style="width: 154px" src="{{ base_path ~ directory }}/images/platformsh.png">
        </div>
        <h3 class="mb-3">Platform.sh</h3>
        <p class="mb-3">We test Drupal core Umami distribution with Diffy and Platform.sh.
          Allows visual testing of patches for both anonymous and admin users.
          <a target="_blank" href="https://medium.com/diffy/umami-distribution-testing-automation-with-platform-sh-and-diffy-91272af485b">Read more.</a>
        </p>
      </article>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <div class="mb-3 button-integrations" style="background-color: white">
          <img class="mt-1" width=154 src="{{ base_path ~ directory }}/images/github-logo.jpg">
        </div>
        <h3 class="mb-4">Github - checks</h3>
        <p class="mb-3">Github app that provides a check for your pull requests. Once testing job is completed it will be posted
          to your pull request as a check so you have all results right there, in pull request thread.
          <a target="_blank" href="https://diffy.website/documentation/pantheon-build-tools">Read more.</a>
        </p>
      </article>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <button class="mb-4 button-integrations" type="button">
          <img class="" src="{{ base_path ~ directory }}/images/pantheon_vector_logo.svg" alt="button">
        </button>
        <h3 class="mb-4">Pantheon - <a href="https://pantheon.io/docs/guides/build-tools">Build Tools</a></h3>
        <p class="mb-3">Build Tools allow to spin up Multi Dev pull request environments. We provide an easy integration to
          compare those environments with Dev and post results back to Github.
          <a target="_blank" href="https://diffy.website/documentation/github-integration">Read more.</a>
        </p>
      </article>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <div class="mb-4 button-integrations" style="background-color: white">
          <img class="mt-2" width="154" src="{{ base_path ~ directory }}/images/circleci-logo.png">
        </div>
        <h3 class="mb-4">CircleCI Orb</h3>
        <p class="mb-3">Custom CircleCI Orb that compares pull request environments with DEV so you have less integration code to maintain as it is hidden in the orb.
          <a target="_blank" href="https://github.com/DiffyWebsite/diffy-circleci-orb">Read more.</a>
        </p>
      </article>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5">
      <h2 class="text-center">Can I just do it on my own?</h2>
      <p class="text-center"><ul>
        <li>Get started in less than 5 minutes. No local dependencies.</li>
        <li class="mt-2">Share results with clients. No need to take care of storing images somewhere.</li>
        <li class="mt-2">No need to set up and maintain your own server. A year of our service will cost you less than the effort having your own.</li>
        <li class="mt-2">And to top it all off, you get some nice extra features such as Slack integration with no effort</li>
      </ul></p>
    </div>
  </div>
</section>

<section class="try-block mt-5">
  <div>
    <div class="d-flex justify-content-center">
      <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
    </div>
    <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
  </div>
</section>
