<section class="container-fluid max-width-1280 main-banner mt-5">
  <div class="row px-3">

    <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <h1 class="mb-5 mt-5 text-center">CSS Testing Made Easy</h1>
        <h3 class="text-center">The #1 visual regression testing tool for Wordpress.
          Never miss a visual bug again.</h3>
        <div class="mt-5 mb-5">
          <div class="d-flex justify-content-center">
            <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
          </div>
          <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid max-width-1280 block-integrations">
  <div class="row px-3">

    <div class="col-12 d-flex justify-content-center mb-5 mt-3">
      <h2>Use Cases</h2>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">WordPress Hosting</h3>
        <p class="mb-3">
          Ensure your updates do not break your clients sites. We can take screenshots of multiples sites before and after
          the update to ensure no breaks were introduced.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Archive/Monitoring</h3>
        <p class="mb-3">
          Your client can refer that you have broken the site with your changes even if you didn't touch that section. We allow you to have
          visual archive of the site so you can always show how site was before your work. In the same way you can monitor what editors do.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">WordPress Theme</h3>
        <p class="mb-3">
          If you sell and maintain a theme you probably have a demo site. By adding visual regression testing to demo site
          you can ensure nothing gets broken when you deploy new changes.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Optimization</h3>
        <p class="mb-3">
          Running performance optimization? We ensure that your changes had zero visual changes to the site on all pages.
        </p>
      </article>
    </div>

  </div>
</section>

<section class="mt-5 slide1r-block">
  <div class="container carousel">
    <h2 class="text-center mb-5">Trusted by world class organizations</h2>
    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex justify-content-center pb-4">
        <a href="https://wp-ok.com"><img class="m-auto" src="{{ base_path ~ directory }}/images/wp-ok-logo.png" alt="WP OK" style="width: 170px"></a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex pb-4">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/palantir.net-logo.png" alt="palantir.net" style="width: 220px">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex pb-4">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/door3_logo@2x.png" alt="door3">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex pb-4">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/five_logo@2x.png" alt="five">
      </div>

    </div>
  </div>

  <div class="carousel1 slide1" data-ride="carousel1" data-touch="true" id="carouselExampleControls1">
    <div class="carousel1-inner  col-md-7 mx-auto slider-group mt-5">
      <div class="carousel1-item active">
        <i class="fas fa-quote-left"></i>
        <p class="px-3 m-0 text-center">
          At WP-OK we manage hundreds of WordPress websites, and detecting an issue before our customers do it's a tremendous added value.
          Before signing up I was afraid of having to deal with a lot of false positives.
          But the comparison works really well and Diffy helps us to deliver our promises.
          It's like having extra staff in our team!
        </p>
{#        <i class="fas fa-quote-right d-flex justify-content-end"></i>#}
{#        <div class="carousel--mobile d-flex d-md-none">#}
{#          <button class="mx-1 mx-sm-2 carousel--mobile__button carousel--mobile__button--active"></button>#}
{#          <button class="mx-1 mx-sm-2 carousel--mobile__button"></button>#}
{#          <button class="mx-1 mx-sm-2 carousel--mobile__button"></button>#}
{#          <button class="mx-1 mx-sm-2 carousel--mobile__button"></button>#}
{#        </div>#}
        <p class="text-center text--light mb-5 mt-3">Daniele Besana <br>Founder of WP-OK</p>
      </div>
    </div>
{#    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">#}
{#      <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#      <span class="sr-only">Previous</span>#}
{#    </a>#}
{#    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">#}
{#      <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#      <span class="sr-only">Next</span>#}
{#    </a>#}
  </div>
</section>

<section class="try-block mt-3">
  <div>
    <div class="d-flex justify-content-center">
      <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
    </div>
    <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
  </div>
</section>

<section class="container-fluid max-width-1280 block-integrations">
  <div class="row px-3">

    <div class="col-12 d-flex justify-content-center mb-5 mt-3">
      <h2>Main Features</h2>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Monitoring</h3>
        <p class="mb-3">
          Set daily/weekly monitoring on auto-pilot and receive notifications when something actually changed.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Custom Image Compare Algorithm</h3>
        <p class="mb-3">
          Get less false positive noise as our algorithm understands vertical shifts.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Performance</h3>
        <p class="mb-3">
          Use highly scalable infrastructure of workers so you get results faster. Take thousands of screenshots in 30+ concurrent browser sessions.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Predefined and Custom Environments</h3>
        <p class="mb-3">
          Compare your Live with Staging or Staging with Development. We support custom environments for your pull request builds.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Easy to integrate</h3>
        <p class="mb-3">
          We have a <a href="https://github.com/DiffyWebsite/diffy-cli" target="_blank">CLI tool</a> to interact with our APIs so you can builds integrations fast.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Mask / Exclude elements</h3>
        <p class="mb-3">
          Avoid false positives by removing / masking DOM elements on the page prior to taking the screenshot. Great for hiding ads, slides, popups.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Delay, scroll, javascript</h3>
        <p class="mb-3">
          Get the needed state of the page by executing custom javascript, setting a delay or scrolling.
        </p>
      </article>
    </div>

    <div class="col-md-3 d-flex mb-4">
      <article class="shadow-card p-4">
        <h3 class="mb-4">Teams, notifications</h3>
        <p class="mb-3">
          Set up your team to share projects. Email, Slack, Github notifications available.
        </p>
      </article>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-10 container headline--margin-top px-5">
      <h2 class="text-center mb-5">CSS Testing - The Why</h2>
      <p>CSS bugs are extremely easy to introduce because unique rules need to be written for rendering every visual element on a page, taking into consideration all combinations of devices, browsers, and screen sizes.</p>

      <p>It’s simply too much for a developer to handle manually.</p>

      <p>Moreover, because these bugs might only appear in certain browsers and screen sizes, they’re quite hard to catch.</p>

      <p>And you can’t just sit around and wait for your users to let you know about a visual bug - if they have a bad user experience, more often than not they’ll just leave and check out a competitor!</p>

      <p>Hence the importance of CSS testing.</p>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 block-integrations">
  <div class="row px-3">

    <div class="col-12 d-flex justify-content-center mb-5 mt-5">
      <h2>Integrations</h2>
    </div>

    <div class="col-md-12 text-center mb-5">
      <img class="ml-0 pb-4" width="154" src="{{ base_path ~ directory }}/images/pantheon-logo.png" alt="button">
      <img class="ml-5 pb-4" width="90" src="{{ base_path ~ directory }}/images/logo_acquia.png" alt="button">
      <img class="ml-5 pb-4" width="154" src="{{ base_path ~ directory }}/images/platformsh.png">
      <img class="ml-5 pb-4" width="120" src="{{ base_path ~ directory }}/images/github-logo.jpg">
      <img class="ml-5 pb-4" width="120" src="{{ base_path ~ directory }}/images/gitlab-logo.png">
      <img class="ml-5 pb-4" width="130" src="{{ base_path ~ directory }}/images/circleci-logo.png">
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <div class="mb-3 button-integrations" style="background-color: white">
          <img class="mt-1" width=154 src="{{ base_path ~ directory }}/images/github-logo.jpg">
        </div>
        <h3 class="mb-4">Github - checks</h3>
        <p class="mb-3">Github app that provides a check for your pull requests. Once testing job is completed it will be posted
          to your pull request as a check so you have all results right there, in pull request thread.
          <a target="_blank" href="https://diffy.website/documentation/pantheon-build-tools">Read more.</a>
        </p>
      </article>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <button class="mb-4 button-integrations" type="button">
          <img class="" src="{{ base_path ~ directory }}/images/pantheon_vector_logo.svg" alt="button">
        </button>
        <h3 class="mb-4">Pantheon - <a href="https://pantheon.io/docs/guides/build-tools">Build Tools</a></h3>
        <p class="mb-3">Build Tools allow to spin up Multi Dev pull request environments. We provide an easy integration to
          compare those environments with Dev and post results back to Github.
          <a target="_blank" href="https://diffy.website/documentation/github-integration">Read more.</a>
        </p>
      </article>
    </div>

    <div class="col-md-4 d-flex mb-4 mt-4 mb-md-0">
      <article class="shadow-card p-4">
        <div class="mb-4 button-integrations" style="background-color: white">
          <img class="mt-2" width="154" src="{{ base_path ~ directory }}/images/circleci-logo.png">
        </div>
        <h3 class="mb-4">CircleCI Orb</h3>
        <p class="mb-3">Custom CircleCI Orb that compares pull request environments with DEV so you have less integration code to maintain as it is hidden in the orb.
          <a target="_blank" href="https://github.com/DiffyWebsite/diffy-circleci-orb">Read more.</a>
        </p>
      </article>
    </div>



  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-10 container headline--margin-top px-5">
      <h2 class="text-center mb-5">About Visual Regression Testing Tools</h2>
      <p>The most straightforward approach to perform a CSS test is called visual regression testing.</p>

      <p>Tools like Diffy allow developers to save hours of QA, by leveraging the power of technology.</p>

      <p>These visual regression testing tools are able to detect the tiniest of bugs - those that a user would describe as “something about this page just feels off”.</p>

      <p>By having three different staging environments, visual bugs are caught early on, and teams are able to keep a steady schedule, since no dev has to keep going back and fix issues nobody knew about. </p>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5">
      <h2 class="text-center">Can I just do it on my own?</h2>
      <p class="text-center"><ul>
        <li>Get started in less than 5 minutes. No local dependencies.</li>
        <li class="mt-2">Share results with clients. No need to take care of storing images somewhere.</li>
        <li class="mt-2">No need to set up and maintain your own server. A year of our service will cost you less than the effort having your own.</li>
        <li class="mt-2">And to top it all off, you get some nice extra features such as Slack integration with no effort</li>
      </ul></p>
    </div>
  </div>
</section>

<section class="try-block mt-5">
  <div>
    <div class="d-flex justify-content-center">
      <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
    </div>
    <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
  </div>
</section>
