<article id="node--5--about_us">

  <h1 class="text-align-center"><strong>We help your QA team</strong><br/> to ensure that websites don't get visual bugs</h1>

  <section class="story container">
    <div class="row">
      <div class="text col-sm-6">
        <p><span class="text-purple">Idea of the project was born when one of our web services client threatened to fire our agency if we don’t “stop breaking things” on their website.</span> The site was 5 years old and moved between few agencies already so you can envision how those half-a-dozen-thousands CSS files looked like. All fixes were just band aids here and there so eventually it was hard to ensure we do not break things.</p>
        <p>Thankfully after introducing visual testing with screenshots we were able to stabilize the site and saved the project.</p>
        <p>Now visual testing is used as a development tool to track changes by hundreds of companies.</p>
        <p>We would be thrilled if you could give Diffy a try too!</p>
      </div>
      <div class="image col-sm-6">
        <img src="{{ base_path ~ directory }}/images/story-yuriy.png" alt="" />
      </div>
    </div>
  </section>

  <section class="glance container">
    <div class="achievements__block row align-items-center px-5">
      <div class="item col">
        <div class="title text-center">5 years</div>
        <div class="subtitle text-center">on the market</div>
      </div>
      <div class="item col dot text-align-center">&#183;</div>
      <div class="item col">
        <div class="title text-center">
          1000+
        </div>
        <div class="subtitle text-center">
          websites tested
        </div>
      </div>
      <div class="item col dot text-align-center">&#183;</div>
      <div class="item col">
        <div class="title text-center">2 million</div>
        <div class="subtitle text-center">screenshots taken</div>
      </div>
    </div>
  </section>

  <section class="container-fluid max-width-1280 trusted-agencies__block mt-3 mb-5 pb-4 mt-md-5 mb-md-5 pt-md-4 pb-md-5">
    <div class="row">
      <h2 class="text-align-center">Trusted by world class agencies</h2>
    </div>
    <div class="row px-lg-5 mx-lg-5">
      <div class="col-12 d-flex justify-content-center justify-content-md-between align-items-md-center">
        <img src="{{ base_path ~ directory }}/images/dis-los-ang-logo.svg" alt="" />
        <img src="{{ base_path ~ directory }}/images/md-sys-logo.svg" alt="" />
        <img src="{{ base_path ~ directory }}/images/conelly-partners-logo.svg" alt="" />
        <img src="{{ base_path ~ directory }}/images/0352-logo.svg" alt="" />
        <img src="{{ base_path ~ directory }}/images/five-paths-logo.svg" alt="" />
        <img src="{{ base_path ~ directory }}/images/door3-logo.svg" alt="" />
      </div>
    </div>
  </section>

  <section class="bottom-banner__block row">
    <div class="inner col-12">
      <h2 class="text-align-center">Visual Regression Testing Made Easy</h2>
      <h3 class="text-align-center">Save devs hours of QA through our insanely accurate visual testing tool</h3>
      <div class="try-for-free__block">
        <div class="action-link-wrap justify-content-center">
          <div class="try-link">
            <a href="https://app.diffy.website/#/register">Try For Free</a>
            <p>no credit card required</p>
          </div>
          <div class="demo-video">
            <button type="button" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/cbU1VqFnGaI" data-target="#myModal">
              <span class="play-img"></span>View demo
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
